[2016-12-18 22:12] RedBaron2 opened #1096 "Non-Checksumed Packages, and Chocolatey's Y/N question"
### What You Are Seeing?
Example is with Revo Uninstaller Pro, but any Non-Checksumed package will have Chocolatey do the same thing.
**`Ex:`**
[code]
**`1)`**
[code]
**`2)`**
[code]

### What is Expected?
The problems are several
**`1)`** Chocolatey downloads the file before asking **`2)`**.
The User should be asked  **`2)`** before download is even started.

### How Did You Get This To Happen? (

[2016-12-18 22:15] RedBaron2 commented on #1096
@ferventcoder @gep13
Chocolatey just needs to read/parse the install script/file for the checksum variables.

[2016-12-19 04:30] 6opuc commented on #1092
I've attached chocolatey.log file: https://github.com/chocolatey/choco/files/660065/chocolatey.log.txt

Command issued in console was: choco upgrade itsk.af.local -y

Package dependency tree looks like this:
itsk.af.local
  -> itsk.af.db.local
  -> itsk.af.dispatcher.local
  -> itsk.af.integration.local
  -> itsk.af.scheduler.local
  -> itsk.af.api.local
  -> itsk.af.client.local
  -> itsk.af.fron

[2016-12-19 06:49] neel132 opened #1097 "Cannot install any packages from chocolatey package manager"
### The package was not found with the source(s) listed.

### I cannot any packages from chocolatey package manager

### 1st Attempt to install nodejs
PS C:\Users\ngala> choco install nodejs.install
Chocolatey v0.10.3
Installing the following packages:
nodejs.install
By installing you accept licenses for the packages.
nodejs.install not installed. The package was not found with the source(s) liste

[2016-12-19 13:37] jamestelfer opened #1098 "Get-FtpFile fails with integer overflow when downloading file more than 2gb in size"
### What You Are Seeing?
When downloading a >2Gb file via ftp with `Get-FtpFile` (called by `Get-ChocolateyWebFile`), the following error is observed:

[code]
### What is Expected?
The file should download successfully.

### How Did You Get This To Happen? (Steps to Reproduce)

1. Host a large (>2Gb) file on an FTP server to which you have access
2. Download file using the `Get-FtpFile` function

[2016-12-19 13:42] jamestelfer opened #1099 "Get-FtpFile downloads are slow, possibly because of the use of a 1Kb download buffer"
### What You Are Seeing?
The FTP download rate for a large file is slow compared to HTTP, which should not generally be the case.

Looking at the code for `Get-FtpFile`, I speculate that the small buffer size is to blame. For similar functionality I've found that a much larger buffer is more efficient -- 256Kb-512Kb. There are diminishing returns with increasing buffer size that testing will soon

[2016-12-19 13:43] jamestelfer commented on #1098
Note also in the log that the local destination file remained locked after the FTP download failed, hindering choco's cleanup.

[2016-12-19 18:42] ferventcoder commented on #1098
That is definitely an issue. Marked for fixing soon.

[2016-12-19 18:43] ferventcoder commented on #1098
Also marking this as up for grabs if you are interested

[2016-12-19 18:43] ferventcoder commented on #1099
Interesting that there is a divergence between the two.

[2016-12-19 19:08] ferventcoder commented on #1097
Here is your hint: `[NuGet] The remote server returned an error: (403) Forbidden.`

It's likely you have something in the way like a proxy you need to get through.

[2016-12-19 19:12] ferventcoder commented on #1096
Thanks for filing that! Did you also want to point to the gitter log where you requested it? It doesn't matter though, you pretty much captured what you want.

[2016-12-19 19:27] ferventcoder commented on #1093
This feels like a duplicate of #931

[2016-12-19 19:28] ferventcoder commented on #1093
Or at least related.

[2016-12-19 19:39] ferventcoder commented on #1081
https://github.com/chocolatey/shimgen-issues

[2016-12-19 20:50] jamestelfer commented on #1098
I've forked the repo, let me have a quick squiz. Looking at the `Get-WebFile` source, it shouldn't be difficult for the actual fix (for this and #1099). Not sure about the testing strategy for this one though aside from manual checks.

[2016-12-19 21:15] kkurasz1 commented on #1093
Sorry.  got caught up with creating a case that I didn't look for duplicates.  Yes, I claim this is a duplicate.  It can be closed.

[2016-12-19 21:15] #1093 closed

[2016-12-19 22:18] dragon788 commented on #1073
See also this excellent example of enabling the Windows Update service to install a package that has a dependency on a KB that requires wusa be active. https://github.com/richardschneider/net-ipfs-mount/blob/be3a73e9b72bd67156a842d0099817c299ce1bbc/appveyor.yml

[2016-12-19 23:21] RedBaron2 commented on #1096
Does Chocolatey parse the package installation scripts?

[2016-12-19 23:43] jamestelfer commented on #1098
I'm happy to work through with you on this one, though I'd appreciate some guidance on how you think it's best tested.

Looking at the code (also thinking of #1099) there is some divergence from `Get-WebFile` in three main areas:
1. The variable type of the `$goal`, `$total` and `$count` variables
1. Proxy handling is more advanced for `Get-WebFile`, though this may be HTTP-specific
1. The buffer

[2016-12-20 01:36] ferventcoder commented on #1098
Finally block sounds good. The code in get-ftpfile cane in as a PR copying get-webfile and chamging it to ftp specific I believe.

[2016-12-20 11:23] RichiCoder1 opened #1101 "Allow sorting package results by relevance"
Currently Choco only allows sorting search results by "popularity" aka. download count, or Id. There's no options to fallback to Nuget feed's "relevance". Would be great to add a option to do so.

[2016-12-20 12:39] talcloudshare commented on #134
Unfortunately this still happens when a package name ends with .config

[2016-12-20 15:52] andyundso commented on #924
Can confirm that this issue still persists. Same error happens with Firefox, which first character is also an uppercase. Package also won't be found with choco list "Firefox" -e. If you change to source to a local directory, it works.

[2016-12-20 18:41] Spitzbub opened #1103 "Allow the use of package.config files on upgrade"
On install instead of specifying a package name you can use a package.config file to specify what packages/versions (plus courses and other options) to install. This though is not available for the upgrade command and thus it is not possible to upgrade multiple packages to multiple specific versions. Upgrade should be enhanced to support package.config

From gitter:

[code]

[2016-12-21 03:02] ferventcoder commented on #1103
Two things - you can link directly to the gitter conversation (preferred).

Also this is a dupe of #533

[2016-12-21 15:32] abejenaru opened #1105 "Package definition entry to disable auto-shimming"
Hi, I'm thinking of an entry in the nuspec definition that allows to disables auto shimming, useful in case of program bundles, where you would have to programmatically generate .ignore files for all the .exes

[2016-12-21 16:53] gustke commented on #1082
Help?

[2016-12-21 17:34] ericnewton76 commented on #1048
npm install -g doesnt have this issue, requiring running from elevated prompts all the time

Why not adopt their policy?

[2016-12-21 18:29] ferventcoder commented on #1048
We are looking at something we can do here. Chocolatey doesn't require admin rights outside of the default installation directory (unless the program being installed requires it).

[2016-12-21 19:01] ferventcoder commented on #1082
Sorry, thought I commented here. Thanks for the detailed report. It makes sense why some things may be coming out weird. For now perhaps step back to calling one at a time until we get to the bottom of what is causing it.

I haven't determined whether this is a community package repository issue or an issue with choco - community repository issues go to https://github.com/chocolatey/chocolatey.org

[2016-12-21 19:16] ferventcoder commented on #1105
The concept as we've imagined it is called a shimdirector file. It will be a file placed in the package that tells Chocolatey how to handle executables. When one exists, it uses the file. When one doesn't, it uses the normal process.

[2016-12-21 19:17] ferventcoder commented on #1105
And here is that issue - #306.

[2016-12-21 19:17] #1105 closed

[2016-12-21 19:17] ferventcoder commented on #1105
Closing as a duplicate of #306.

[2016-12-21 19:58] ferventcoder commented on #924
Thanks @andyundso. The source is what we think is affecting this for some reason. And we think it is only related to the community package repository (https://chocolatey.org/packages).

[2016-12-21 20:43] gustke commented on #1082
Thank you for the update.  I hope to hear more soon.

[2016-12-21 21:00] ferventcoder commented on #134
@talcloudshare yes - that is what I wrote in my last comment:

Meaning, having ".config" in the name is fine, ending with ".config" is bad.

[2016-12-21 21:01] ferventcoder commented on #134
If you are needing this to be addressed for the ending with .config - then that means a new issue. Please file it. However we still need a way to know if this is a packages.config versus a package with that name. I don't like the using packages that end with .config.

[2016-12-22 00:08] dragon788 opened #1106 "Username and password for `choco apikey` not encrypted in output"
### What You Are Seeing?
When I call `choco apikey` with a feed that has a username and password associated, I wouldn't expect the password to appear in plaintext.

[code]

### What is Expected?
I expect at least the hashed version or the password to be hidden/obfuscated similar to how `choco source` shows (Authenticated) when a feed has been provided credentials. I can always update a key with ne

[2016-12-22 00:09] dragon788 commented on #1106
@ferventcoder This may fall under security?

[2016-12-22 00:10] ferventcoder commented on #1106
Interesting. Yeah, I think that would definitely not be something you want to return the output.

[2016-12-22 00:11] dragon788 commented on #403
This currently kind of works for Artifactory at least, but you have to supply the username:APIKEY combo and can't use ONLY the APIKEY (but they might be weird).
`choco apikey -k username:APIKEY -s "https://artifactory.host/"`

[2016-12-22 00:56] johnnyramos opened #1107 "Long version strings not accepting"
### What You Are Seeing?

[code]

### What is Expected?

Some programs have longer version strings such as Oracle SmartView.

### How Did You Get This To Happen? (Steps to Reproduce)
[code]
### Output Log

[code]

Let me know if there's something else I can provide. :)

[2016-12-22 01:02] johnnyramos commented on #1107
Tried looking for the code here to contribute, but didn't find. I must be blind.

[2016-12-22 01:13] johnnyramos commented on #1107
Ah, Duh - seems this might need to go to Nuget. My bad.

[2016-12-22 01:15] ferventcoder commented on #1107
@johnnyramos thanks - the problem is the number of version segments. Only 4 are allowed. So that will need to be shortened down for NuGet/Chocolatey.

`1.2.3.4`, not `1.2.3.4.5`

[2016-12-22 01:17] johnnyramos commented on #1107
Gotcha. Sucks though as this product changes their version upgrades on the 5th segment. :(

[2016-12-22 01:17] johnnyramos commented on #1107
You can close if needed to. I'll shorten it.

[2016-12-22 22:35] ferventcoder commented on #403
I think that is documented with artifactory's docs. We have customers successfully using Artifactory and I haven't heard of trouble with this so I think they are able to figure it out successfully.

[2016-12-23 14:23] teknowledgist commented on #627
There is a small program to do this [described here](https://pinto10blog.wordpress.com/).  The source code is included although I don't see a license.
More details on the how [here](http://alexweinberger.com/main/pinning-network-program-taskbar-programmatically-windows-10/).

[2016-12-23 14:25] chantisnake opened #1108 "track the shim generated in order to remove them more effeciently"
When installing a zip or web file package, the shim gen should track the shim generated with the package.

so that when people uninstall the package, the shim will be removed efficiently

---

this issue is based on a discussing with @ferventcoder on gitter.

[2016-12-23 14:25] ericnewton76 commented on #1048
My install was just like the OP, where I followed the installation instructions and ran from an elevated prompt.

I believe it installed to its default folder, the ProgramData folder right? (I find it odd that it does require elevated priviledges in the first place when installed there)

Good to know it's being considered

[2016-12-23 17:21] Aventura5 opened #1109 "Chocolatey won't find a package withought specifying a version if you use -s"
### What You Are Seeing?
Chocolatey will not find packages when pointed to a directory as the source if you do not specify a version.

### What is Expected?
According to the [Create Packages Quick Start Guide](https://github.com/chocolatey/choco/wiki/CreatePackagesQuickStart), the command `choco install package-name -s '%cd%' -f` should install `package-name` from the current directory.

### How D

[2016-12-23 18:29] dragon788 commented on #1109
Have you tried using just `-s '.'` instead of `%cd%` ?

[2016-12-23 21:40] ferventcoder commented on #1108
https://gitter.im/chocolatey/choco?at=585cf9e17a3f79ef5d91338d

[2016-12-25 05:25] ferventcoder commented on #1109
Try just `-s .`, which works for both cmd.exe and powershell.exe

Also, when your version has `-` in it, that means a pre-release. This trips up almost everyone the first time, sometimes later.

If you are using a version that is a prerelease, you need to also add `-pre` for it to find those unstable versions. e.g. `1.2.3` is stable where `1.2.3-beta1` is a prerelease. I can't install a prerelease

[2016-12-25 05:25] #1109 closed

[2016-12-25 05:25] ferventcoder commented on #1109
HTH, let me know what you find out.

[2016-12-27 12:51] nicolasgaraza commented on #1055
Hi, I have the same issue. I couldn't understand how do you fix it?  How was the script really like.

I'm doing:

`SET "chocolateyUseWindowsCompression=false"; powershell -NoProfile -ExecutionPolicy Bypass -Command "iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))" ; SET "PATH=%PATH%;%ALLUSERSPROFILE%\chocolatey\bin"`

but is falling with the same error

[2016-12-27 13:49] mawl commented on #1055
Hi Nicolas,

Take a look at
http://stackoverflow.com/questions/41138754/docker-pattern-the-build-container-two-approaches-which-fits-better
.

I use docker's ENV for setting the environment variable (and the chocolatey
version)

ENV chocolateyVersion 0.9.9.12
ENV ChocolateyUseWindowsCompression false

So you can leave the chocolatey install comand untouched.

Regards
Marco

2016-12-27 13:51 GMT+01

[2016-12-28 13:16] jamestelfer commented on #1098
OK so I think I've finished messing around with effectively no-op commits on this issue to comply with the CLA correctly. I'll take a look at the file locking issues here.

Any reason to have the catch block in there that re-throws the exception? PowerShell doesn't rethrow that nicely, so it would be nice to avoid it. Is this a PowerShell version 1 idiom? What PS versions should I test on?

[2016-12-28 16:48] birgersp opened #1111 ""Business messages" adresses users in a somewhat unprofessional manner"
Business message ([declared here](https://github.com/chocolatey/choco/blob/master/src/chocolatey/infrastructure.app/services/ChocolateyPackageService.cs#L56)) addresses users in an unprofessional manner.

None of us are using Chocolatey to "look smart". Calling me "amazing" for using a CLI is flippant and honestly seems more sarcastic/degrading than complimentary.

I suggest these messages adress

[2016-12-28 16:50] ferventcoder commented on #1111
@birgersp how would you frame the message? I don't see as childish or talking to a 9 year old at all.

[2016-12-28 16:54] birgersp commented on #1111
I'd rather frame the message in a more professional/"classy" manner. On the top of my head, I suggest:

[2016-12-28 17:21] ferventcoder commented on #1111
It was an attempt to provide compliments, but I see your point.

[2016-12-28 17:22] ferventcoder commented on #1111
@birgersp would you change any of the other messages? https://github.com/chocolatey/choco/blob/946367a6c263cc2d1b3beec5e6b771404d5f0436/src/chocolatey/infrastructure.app/services/ChocolateyPackageService.cs#L55-L97

[2016-12-28 17:29] #1103 closed

[2016-12-28 17:31] ferventcoder opened #1112 "chocolatey setup - Use https for downloading .NET 4x"
Looks like it is not using https to download .NET 4 from Microsoft. In instances where setting up Chocolatey will allow Chocolatey to attempt to install .NET 4.x if it is not already installed, this could be a security issue.

[2016-12-28 17:31] Cubix651 commented on #473
I will try to fix it.

[2016-12-28 17:38] ferventcoder commented on #1111
@birgersp is that better?

[2016-12-28 17:51] birgersp commented on #1111
I'd say it certainly is, thank you. I was forking and creating a PR to suggest some changes but you were too quick for me. I have some suggestions for a couple of the other messages aswell, a PR is imminent.

[2016-12-28 19:36] ferventcoder commented on #1098
PowerShell v2+

[2016-12-28 19:39] ferventcoder commented on #1098
Can you point this specific bit out so I know we are talking about the same thing?

[2016-12-28 20:59] jamestelfer commented on #1098
Sorry mate, [this bit](https://github.com/jamestelfer/choco/blob/18a5012fbe04adbfcfda60b75906a960257118ad/src/chocolatey.resources/helpers/functions/Get-FtpFile.ps1#L172).

[code]

I suggest removing ```catch { throw $_.Exception }``` as the catch block is optional, and the error will naturally bubble. According to a code search, it appears that Choco doesn't assume anything about the ```ErrorActi

[2016-12-28 21:04] ferventcoder commented on #1098
There may be something with PowerShell v2 (or really .NET Framework 2.0) where the catch block is not optional (hard to recall offhand though). The big part of that is I just would rather catch and throw (not rethrow), but maybe at the time could not determine how to do that with PowerShell. The real purpose was to ensure that the ErrorActionPreference was reset, so the finally block is the most i

[2016-12-29 16:18] Kristinita opened #1114 "[Bug] Unwanted reset account in chocolatey.org"
### 1. Actual behavior

1. Sometimes I need clean cookies for chocolatey.org that login in this site.
2. I need enter in my account in chocolatey.org again and again. The data at the input not saved.

### 2. Expected behavior

Never go out into my account.

### 3. Steps to reproduce

1. Sometimes I can not login. I not redirect on **<https://chocolatey.org/users/account/LogOn>** page.

![Chocolate

[2016-12-29 17:14] ferventcoder commented on #1114
Howdy, this is a duplicate of https://github.com/chocolatey/chocolatey.org/issues/455.

When you filed the issue, did follow the template note to read over https://github.com/chocolatey/choco#submitting-issues? It would have helped you over to the website github repo?

[2016-12-29 17:14] #1114 closed

[2016-12-29 17:15] ferventcoder commented on #1114
If you would not mind following up over on that repo or creating a new issue for this over there if you don't feel this is a duplicate of that, that would be great. FWIW, I've seen the same behavior. Actually it may be a dupe of https://github.com/chocolatey/chocolatey.org/issues/438

HTH, thanks!

[2016-12-30 05:40] RedBaron2 commented on #1096
@ferventcoder
I will take this `silence` as a no. I have made a bit of code that chocolatey could use to parse the package install.ps1 file looking for any variable. I just don't know what file it should/could be added too.
@ferventcoder
I will post the code later if you want it.

[2016-12-30 07:22] Kristinita opened #1115 "[Question] The request was aborted: Could not create SSL/TLS secure channel."
### 1. Summary

I try to add in Chocolatey [**package for Jumpshare program**](https://chocolatey.org/packages/jumpshare/2.0.9). Package successfully installed for me, but automatic test is failed.

I rerun test, and Jumpshare again successfully installed for me and failed automatic review. I can not find in Google, how I must solved my problem.

### 2. Expected behavior

[**My full installation o

[2016-12-30 07:53] ferventcoder commented on #1115
Howdy. Unfortunately the issue template you see when you created the issue mentions this is not the place to file package issues either. When the verifier failed, did you receive an email?

I know there was a lot in that email, so I'll just point out the link to the Chocolatey test environment - https://github.com/chocolatey/chocolatey-test-environment. Take a look, it will let you determine what

[2016-12-30 07:53] #1115 closed

[2016-12-30 07:55] ferventcoder commented on #1096
Over the holiday season I wouldn't likely make those kind of assumptions.

[2016-12-30 07:56] ferventcoder commented on #1096
I am not sure that's a direction I would want to go, nor should it be necessary. When Get-ChocolateyWebFile is called, it is going to have all of the information available to make that determination before it downloads any files.

[2016-12-30 11:05] Kristinita commented on #1115
@ferventcoder :

Yes, I receive e-mail, but I don't see in my e-mail information, how I can solved my problem.

Where is situated place for similar issues?

System requirements is [**64-bit processor and OS**](https://github.com/chocolatey/chocolatey-test-environment#requirements). I have only Windows 32-bit.

Thanks.

[2016-12-30 11:35] gep13 commented on #1115
@dragon788 have you documented anywhere the process that you use for testing packages on AppVeyor?  Wondering whether this might help in this situation?

[2016-12-30 16:53] RedBaron2 commented on #1096
OK, I didn't know the direction that was wanted/heading of the chocolatey versioning.
@ferventcoder
Thanks for the reply.

[2016-12-30 17:58] dragon788 commented on #1115
@Kristinita If you jump on https://gitter.im/chocolatey/chocolatey.org we can definitely help you get set up with a remote testing alternative since you only have a 32 bit machine available locally.

[2017-01-01 17:54] ferventcoder opened #1116 "PowerShell Functions Should Support UserContext from BackgroundService"
When running under the background service mode, detect user context and use that for Desktop and special shortcuts.

[2017-01-01 18:04] ferventcoder opened #1117 "PowerShell Functions should allow overriding urls"

[2017-01-02 22:18] ferventcoder opened #1118 "Feature to Disable Non-Elevated Warnings"

[2017-01-03 01:38] jamestelfer commented on #1098
I updated the resource handling on errors, and tested it on PS 2.0 and PS 5.1. I tested it by adding a deliberate throw in the read loop, then attempt to clean up the downloaded file fragment on failure. The call failed, and the file handle was not kept open allowing cleanup to occur.

I tried to improve the error handling, but it appears that PS doesn't have great support for chaining errors, so

[2017-01-03 04:48] ferventcoder opened #1119 "Automatic Uninstaller - allow remove directly"

[2017-01-03 04:49] #1119 closed

[2017-01-03 05:19] #1035 closed

[2017-01-03 05:22] #1118 closed

[2017-01-03 05:26] jamestelfer opened #1120 "Get-FtpFile should show download progress (enhancement)"
When downloading a file with `Get-FtpFile`, no download progress is displayed. It appears that the file size is not given in the `FtpWebResponse.ContentLength` property when the `DownloadFile` method is used.

It is possible to get the file size using the `GetFileSize` method (which executes the FTP `SIZE` command), however there is a [limitation of the FTP implementation](https://social.msdn.micr

[2017-01-03 05:34] #1013 closed

[2017-01-03 05:39] #1041 closed

[2017-01-03 05:54] ferventcoder opened #1121 "API - don't reset loggers on setting custom automatically"

[2017-01-03 06:03] #1121 closed

[2017-01-03 06:05] jamestelfer commented on #1120
The above commit is an attempt at (2), but it doesn't quite work. It seems that indeterminate progress isn't supported. The result is that you see:
[code]
... for the whole download. Not that great.

[2017-01-03 20:34] alexchandel opened #1124 "cache clean command to remove temporary files"
chocolately creates lots of temporary/cached files when installing packages, and these aren't removed when the installation is complete. Even older version aren't removed. Chocolately needs a `cleanup` command that tells it to delete all its temporary and cached files.

**Editor's note:** The original issue was filed at https://github.com/chocolatey/chocolatey/issues/253

[2017-01-03 20:40] ferventcoder commented on #1124
Duplicate

[2017-01-03 20:44] ferventcoder commented on #1124
So I thought this was a dupe - we've discussed this and have been planning for awhile. I'm surprised there is no actual issue filed if there is not already.

[2017-01-03 20:45] ferventcoder commented on #1124
Please elaborate

[2017-01-03 20:46] ferventcoder commented on #1124
The lot of temp files are cleaned up - change your cacheLocation config value. Then temp is more deterministic and things are cleaned up better

[2017-01-03 20:52] alexchandel opened #1125 "Add `choco leaves` command"
Chocolately needs a `leaves` command that lists all installed packages that aren't dependencies of other installed packages. This is useful for maintaining existing installations (e.g. since dependencies shift over time, and seeing the "leaves" allows one to prune unused dependencies), and for duplicating installations (by installing only the leaves).

[2017-01-03 20:54] alexchandel commented on #1124
I just did `choco upgrade all`, and the cached installers for the previous versions of the upgraded packages weren't deleted.

[2017-01-03 23:11] ferventcoder commented on #1124
Ah, cached installers. Not package versions left behind.

[2017-01-04 03:09] ferventcoder opened #1126 "Start-ChocolateyProcessAsAdmin should not elevate when already elevated"
Related to #1016.

Don't elevate the process if not necessary.

[2017-01-04 04:11] #1126 closed

[2017-01-04 04:25] #1117 closed

[2017-01-04 04:26] ferventcoder commented on #1016
This is somewhat handled by #1126 - meaning it will just run the powerShell block when the process is already elevated.

[2017-01-04 08:08] woodburysoft commented on #906
I'm happy to take a look at this if nobody objects

[2017-01-04 15:43] woodburysoft commented on #523
I'm looking into a fix for this one.

[2017-01-04 17:29] woodburysoft commented on #905
I'm taking a look at doing this one.

[2017-01-04 22:57] DarwinJS commented on #905
Cool!

I was thinking that if Chocolatey verbose debug logging (-dv) does not already log the full error response from the server (if one is received) - it would be great to add that as well.

[2017-01-05 02:53] matt-richardson opened #1129 "Install fails on Windows 2008 & 2008 R2"
### What You Are Seeing?

Recently, chocolatey started failing to install on Windows 2008 and Windows 2008R2.
It last worked for me on the 28th of December, and first failed for me on the 2nd of Jan.

I'm using packer to spin up a new ami on AWS and installing chocoatey.

The same commands succeed on windows 2012/2012R2/2016.

[code]

### What is Expected?

Successful chocolatey install

### How D

[2017-01-05 03:06] matt-richardson commented on #1129
Interestingly, launching a windows 2008 image and running it manually gives me:

[code]

[2017-01-05 03:31] ferventcoder commented on #1129
Can you verify that you were running Chocolatey v0.10.3 before? So nothing changed except the date rolled over to a new year.

[2017-01-05 03:32] ferventcoder commented on #1129
With that 2008 image, was there a change in how you were setting/running PowerShell Execution Policy?

[2017-01-05 03:37] matt-richardson commented on #1129
Both failing and non failing builds were using `ami-e40c3787`.
Both failing and non failing builds were using `v0.10.3`.

No change in how the execution policy was set - both do `Set-ExecutionPolicy -ExecutionPolicy Bypass -Scope LocalMachine -Force`

[2017-01-05 03:39] ferventcoder commented on #1129
2008/2008R2 both use PowerShell v2 - https://gist.github.com/matt-richardson/0fd167ecbad11e78a8fac34c31b51ddb#file-setup_winrm-txt-L45

[2017-01-05 03:40] ferventcoder commented on #1129
Looks like we were looking at the same thing. I'm verifying the Scope is available in PowerShell v2. Could be dating myself a bit, it may have been introduced in PowerShell v2.

[2017-01-05 03:40] ferventcoder commented on #1129
That was me thinking the difference between v1 and v2.

[2017-01-05 03:42] ferventcoder commented on #1129
this line - https://gist.github.com/matt-richardson/0fd167ecbad11e78a8fac34c31b51ddb#file-setup_winrm-txt-L61 - what is this run from?

[2017-01-05 03:43] matt-richardson commented on #1129
This is all run at instance launch via userdata

[2017-01-05 03:43] ferventcoder commented on #1129
And what happens when that line errors on PowerShell v2?

[2017-01-05 03:44] matt-richardson commented on #1129
Just launching another instance to check the userdata log.

[2017-01-05 03:44] ferventcoder commented on #1129
Is there logging from that userdata script?

I was originally asking if this is run from PowerShell v2 or v3.

[2017-01-05 03:45] matt-richardson commented on #1129
[code]

[2017-01-05 03:46] ferventcoder commented on #1129
Okay, that's wild. These images are upgraded versions of PowerShell. 👍

[2017-01-05 03:47] ferventcoder commented on #1129
What about certificates added/removed? Let me get you the digital chain for trusted verification.

[2017-01-05 03:48] ferventcoder commented on #1129
https://chocolatey.org/security#chocolatey-binaries-and-the-chocolatey-package

CN=DigiCert SHA2 Assured ID Code Signing CA, OU=www.digicert.com, O=DigiCert Inc, C=US

[2017-01-05 03:51] matt-richardson commented on #1129
Thats not a trusted root cert on this ami...

[2017-01-05 03:53] ferventcoder commented on #1129
Can you verify if it is on the other servers?

[2017-01-05 03:54] ferventcoder commented on #1129
Execution Policy Bypass though, why is it attempting to verify the certificate? Ugh... PowerShell can be frustrating sometimes.

[2017-01-05 03:55] matt-richardson commented on #1129
Unfortunately nothing useful in the `ec2configlog.txt` file

[2017-01-05 03:58] ferventcoder commented on #1129
Can you jump on https://gitter.im/chocolatey/choco and we can keep troubleshooting?

[2017-01-05 04:00] ferventcoder commented on #1129
Continued starting at https://gitter.im/chocolatey/choco?at=586dc4a7c02c1a3959eb41bb

[2017-01-05 04:08] ferventcoder commented on #1129
[code]

[2017-01-05 04:11] matt-richardson commented on #1129
[code]

[2017-01-05 04:13] ferventcoder commented on #1129
Install.ps1 is not called. It's chocolateyInstall.ps1

[2017-01-05 04:20] ferventcoder commented on #1129
https://www.digicert.com/digicert-root-certificates.htm

![image](https://cloud.githubusercontent.com/assets/63502/21668853/7241ed6e-d2cb-11e6-88ad-c7fdbe5eb6c8.png)

DigiCert Assured ID Root CA is the trusted root certificate. The rest of the intermediaries and the certificate are included in the authenticode signature. It doesn't include the Root though.

`-IncludeChain NotRoot` - https://github

[2017-01-05 04:23] matt-richardson commented on #1129
[code]

[2017-01-05 04:41] matt-richardson commented on #1129
setting `$env:chocolateyUseWindowsCompression = 'true'` before running seems to make it work:
[code]

[2017-01-05 04:44] ferventcoder commented on #1129
Determined it is the age old PowerShell v3 bug where `Start-Process -Wait` doesn't actually wait.

[2017-01-05 04:46] ferventcoder commented on #1129
Closing for fix at https://github.com/chocolatey/chocolatey.org/issues/467

[2017-01-05 04:46] #1129 closed

[2017-01-05 14:11] ferventcoder commented on #1129
This is now deployed and verified.

[2017-01-05 14:11] ferventcoder commented on #1129
Thanks for working with me on that.

[2017-01-05 14:18] ferventcoder commented on #235
The answer here for non-admin is the link above, which explains not to install to the default location.

[2017-01-05 17:43] alexchandel commented on #1124
Right, they can be hundreds of megabytes, and scattered across dozens of users' temp folders.

Also why not use a global location for cached installers if chocolatey is installed globally? Or better yet, once downloaded, move the cached installers to a cache folder in chocolatey's folder?

Either way a `choco cleanup` command would be nice so normal chocolatey users don't have to route around in t

[2017-01-06 20:18] ferventcoder commented on #467
This is going to be a trickle down feature, first available in pro+ editions and later available in open source.

[2017-01-07 15:39] ferventcoder commented on #1124
Re: Global location - did you miss my response on setting a global temp location by setting the cacheLocation?

[2017-01-07 18:05] ferventcoder commented on #1124
Found it - https://github.com/chocolatey/chocolatey/issues/253

[2017-01-09 03:46] jamestelfer commented on #1120
I've had a further look into this -- for indeterminate progress I'd have to change the choco core progress implementation to support an indeterminate progress indicator instead of the percentage. At the moment, the implementation simply returns early if the percentage given is less than zero.

If you would indicate a preference on what you'd like to see, I'll have a look at picking it up.

[2017-01-09 03:56] ferventcoder commented on #1120
It's PowerShell that you would need to work with there, not Chocolatey. If you can find a way to Write-Progress in whatever way you feel works best, Chocolatey is likely going to handle it.

[2017-01-09 04:14] jamestelfer commented on #1120
The custom `Write-Progress` implementation in [`PoshHostUserInterface`](https://github.com/chocolatey/choco/blob/19cdf4b0da51fcb5e12d9b616971e605a3ff7c9a/src/chocolatey/infrastructure/powershell/PoshHostUserInterface.cs#L121) is the one I'm referring to. The normal PS host handles the use of `Write-Progress` without the `-PercentComplete` flag.

Shall I add a modification to `PoshHostUserInterface

[2017-01-09 04:15] ferventcoder commented on #1120
That will work. And be sure to have that as a separate commit 👍

[2017-01-09 16:19] AdmiringWorm commented on #1056
Just a small update from me regarding this,
I noticed today that ever since my last comment I had been running choco with the following added to
the `Get-WebFile.ps1' file:
[code]
That is what I had added to try installing packages from the marketplace (which then worked),
and considering I haven't even noticed anything different when upgrading/installing packages I would believe it to be safe to

[2017-01-09 18:06] davidking727 opened #1130 "CANNOT INSTALL PACKAGES. 400 Error"
Cannot install packages. New install of Window 10 Pro. Used NotepadPlusPlus as example, but ALL packages return 400 error

PS C:\Windows\system32> choco search notepadplusplus
Chocolatey v0.10.3
jivkok.dev1 1.1.0.8
notepadplusplus 7.3 [Approved]
notepadplusplus.install 7.3 [Approved]
notepadplusplus.commandline 7.3 [Approved]
Notepadplusplus.Settings 1.0.0.20141029 [Approved] - Possibly broken
5 p

[2017-01-09 19:38] ferventcoder commented on #1130
Run with `-dv` to capture more output

[2017-01-09 20:18] jrob opened #1131 "logging - better default colors"
### What You Are Seeing?

The output background is not configurable and overrides the system settings. When the background is set to white the text becomes unreadable.

![Choco output screenshot](https://cloud.githubusercontent.com/assets/613402/21781387/1be18d5c-d67d-11e6-95fd-e24cbcfd9b6e.PNG)

### What is Expected?

Output should not override background settings.

### How Did You Get This To Ha

[2017-01-09 21:12] ferventcoder commented on #1131
Yeah, that looks pretty bad.

[2017-01-09 22:02] davidking727 commented on #1130
PS C:\Windows\system32> choco install notepadplusplus -dv
Chocolatey v0.10.3
Chocolatey is running on Windows v 10.0.14393.0
Attempting to delete file "C:/ProgramData/chocolatey/choco.exe.old".
Attempting to delete file "C:\ProgramData\chocolatey\choco.exe.old".
Command line: "C:\ProgramData\chocolatey\choco.exe" install notepadplusplus -dv
Received arguments: install notepadplusplus -dv
RemovePen

[2017-01-10 16:09] obfuscurity commented on #1048
I also experienced this just now.

[2017-01-10 17:00] ferventcoder commented on #1048
So I'm testing this now for using highestAvailable permissions.

[2017-01-10 20:14] ferventcoder commented on #886
Would be nice to include options that come in from business editions as well here.

[2017-01-12 10:00] OriBenHur opened #1133 "AutoUninstaller should use Uninstall Arguments and Override Arguments if provided"
i'm trying to delete the firefox esr package (it was installed using the official repo).
but for some reason the auto unistaller won't recognize the silent uninstall switches ("/S")
seems there is a bug with it.

also through puppet manifest
[code]

it deletes the pack but failed to uninstall the program (from the logs i can see it's not passing the uninstall args)

[2017-01-12 14:52] ferventcoder commented on #1097
I'm going to assume you figured it out as I haven't heard back from you. HTH

[2017-01-12 14:52] #1097 closed

[2017-01-12 15:18] ferventcoder commented on #1133
You can't pass uninstall arguments if there is no uninstall script that is called. And currently AutoUninstaller doesn't look at what you've passed. However, that would make a lovely enhancement.

[2017-01-12 15:21] ferventcoder commented on #1133
Great feedback! Look for this maybe in the next version of Chocolatey. That's what I'm initially scheduling it for.

[2017-01-12 15:23] OriBenHur commented on #1133
Really?
I've spent over 2 days trying to make it work.
Any way the auto Uninstaller recognize the common switchs?
The Uninstall-ChocolateyPackage include the /S switch and still it didn't use it

[2017-01-12 15:24] ferventcoder commented on #1133
Better to jump onto something like gitter or slack and ask these questions if you've seemingly set it all up correctly and it doesn't work. Or consider customer options.

[2017-01-12 15:26] ferventcoder commented on #1133
It would work if the package itself calls `Uninstall-ChocolateyPackage`, but as you can see from the package page, there isn't even a chocolateyUninstall.ps1 so there is no chance there will be anything passed. https://chocolatey.org/packages/firefoxesr#files

[2017-01-12 15:29] ferventcoder commented on #1133
Also, official != community packages repository. I'm assuming https://chocolatey.org/packages and https://chocolatey.org/api/v2 is what you are referring to here. That is known as the Chocolatey Community Packages Repository, and when you go to https://chocolatey.org/packages, there is a nice link to a disclaimer you should read and understand if you are planning to use these packages for organiza

[2017-01-12 15:34] OriBenHur commented on #1133
Thank for your response.
Really appreciate it 🙂
I'll go over all the links you provided later.
Thank you again

[2017-01-12 16:48] ferventcoder opened #1134 "Show download progress for the packages themselves"
This is related to https://github.com/chocolatey/choco/issues/1095.

When packages are bigger than a certain size, Chocolatey should so the download progress for them. This is especially handy when the packages contain binaries and are bigger than 2MB.

This may be a duplicate of an already logged issue, but I was not able to find it.

[2017-01-13 15:48] AdmiringWorm opened #1135 "Error launching NSIS uninstaller"
### What You Are Seeing?
When trying to uninstall a package I'm currently working chocolatey is unable to launch the NSIS uninstaller executable both trough the uninstall script I've added and through the auto uninstaller.
However manually importing the chocolateyInstaller.psm1 file in a new powershell window and sourcing the uninstall script do launch the uninstaller and uninstalls the software

[2017-01-13 18:18] ferventcoder commented on #1135
That's an interesting thing I haven't seen before.

[2017-01-13 20:21] AdmiringWorm commented on #1135
yeah, I've never seen it before either.
At first I though it was me doing something wrong, so I tried running the uninstall script manually which then worked.

[2017-01-14 16:44] czhang03 opened #1136 "Add Powershell Gallery to alternative source"
add [powershell gallery](https://www.powershellgallery.com/) to the list of [alternative source](https://github.com/chocolatey/choco/wiki/CommandsInstall#alternative-sources)

everything in powershell gallery can be installed with [powershellget](https://github.com/PowerShell/PowerShellGet), which is built-in into powershell v5

[2017-01-14 22:54] wget opened #1138 "[Wiki pull request] Update AU requirements"
Please merge the branch https://github.com/wget/chocolatey_choco_wiki/tree/au_posh_5_requirement to your wiki repository: https://github.com/chocolatey/choco.wiki.git

[2017-01-15 02:20] ferventcoder commented on #1138
Please follow the instructions from the main page to create a Pull Request at https://github.com/chocolatey/choco-wiki.

Thanks!

[2017-01-15 02:20] #1138 closed

[2017-01-15 02:23] ferventcoder commented on #1136
Since it is a NuGet OData feed, you can do this now with `choco install cChoco --source http://www.powershellgallery.com/api/v2/`

However you might want it to do more than simply unpack the files.

[2017-01-15 03:20] ferventcoder commented on #1130
Since this is only being seen with your environment, if you can install Fiddler and run that when you try this again, that would be most helpful. That likely it is something with a proxy in your environment or something limiting traffic.

If you are running this from a VirtualBox VM, ensure you have 5.1.9+ installed (5.1.8 had issues).

[2017-01-15 10:15] wget commented on #1138
@ferventcoder Thanks. Didn't see you had already a repo :) Will PR there.

[2017-01-15 11:44] chantisnake commented on #206
I have the same issue with you-get
[code]

here is the nuspec
[you-get.0.4.626.zip](https://github.com/chocolatey/choco/files/706568/you-get.0.4.626.zip)

[2017-01-15 11:45] chantisnake commented on #206
when I manually installed all the dependency it works fine.

But this is only a problem when I tested locally.

[2017-01-15 11:47] chantisnake commented on #206
(although the dependency has a tendency to not correctly install when not testing locally, but that is a separate issue, see [this](https://gist.github.com/choco-bot/5457203e0e70d1c4c7c60b4ff252b9d9#file-install-txt-L302))

[2017-01-15 15:29] ferventcoder opened #1139 "Uninstall failure to delete backup should not set the package as a failure"
![example](https://files.gitter.im/MarkdownMonster/MarkdownMonster/qypO/blob)

This may be a duplicate but just wanted to get the issue logged

[2017-01-16 12:54] jamestelfer commented on #1120
I've created code for this but TBH I'm having trouble getting the build to succeed.

[code]
Now `choco.exe` doesn't exist in the folder referenced in the build here. And there are no sub-folders under `code_drop\nuget`, just towo niget packages.

I'm running Windows 7, .NET 4.6.2, VS2015.

Do you have any suggestions? Please feel free to contact me directly.

[2017-01-16 20:55] Cubix651 commented on #1062
I've just started competing with this issue :)

[2017-01-16 21:04] ferventcoder commented on #1062
Competing? Does this mean working on?

[2017-01-16 21:10] Cubix651 commented on #1062
Yep. Can I?

[2017-01-16 21:13] ferventcoder commented on #1062
Sure thing. Long as you are able to sign the CLA and meet all of the requirements noted in the CONTRIBUTING document.

[2017-01-16 21:14] mwallner commented on #1062
will this issue affect the `choco download` command as well ?

[2017-01-17 14:30] Mutzefugel commented on #1130
Just had the same issue on a new Win 10 company laptop.
As we had some issues in the past with our arcane company proxy I tried it at home in home office (no proxy present).
However just deactivating the proxy in win settings didn't work for me.
I also had to unset the HTTP_PROXY, HTTPS_PROXY and NO_PROXY environment variables that were set per AD.
Re-tested it:
* One admin-console with proxy env-

[2017-01-18 06:50] ferventcoder commented on #1062
It might! 👍

[2017-01-18 12:14] Mutzefugel commented on #1130
Just did some tests in company network...
(with company proxy set in win settings).
* choco install notepadplusplus -> 400
* choco install notepadplusplus.install -> 400
* choco install visualstudiocode -> works
* choco install nuget.commandline -> works
* choco install conemu -> 400
* choco install postman -> works

Strange behavior - still not knowing if it's the proxy, some weired network confi

[2017-01-18 19:30] Cubix651 commented on #1062
I'm investigating how proxy is set and used. I've found that, for instance, choco list uses Search method from AggregateRepository from nuget package. So for correctly working proxy in nuget, environmental variables `http_proxy` and `https_proxy` are set. Am I correct?

If so, it will demand to change nuget to achieve proxy ignoring functionality. Because now nugets isn't offering such one, is it?

[2017-01-19 00:02] brianary opened #1141 "Package installation often fails with ERROR: You cannot call a method on a null-valued expression"
### What You Are Seeing?

[code]

### What is Expected?

The download should be successful, not fail and write an error.

### How Did You Get This To Happen? (Steps to Reproduce)

Within our network environment, `cup sumatrapdf -y`.

In our environment, `(new-object System.Net.WebClient).Proxy -eq $null`
is true, as is `[System.Net.WebRequest]::DefaultWebProxy -eq $null`. This
means the `IsBypasse

[2017-01-19 01:10] splatteredbits commented on #902
I'm having a similar issue with the Chocolatey installer. If I install chocolatey, the USERNAME environment variable gets changed to SYSTEM. Is this the same underlying cause? Or should I enter another issue?

Steps to Reproduce:

1. Boot a computer that doesn't have Chocolatey installed.
2. Open a PowerShell prompt
3. Inspect USERNAME environment varaible: `> $env:USERNAME`
4. Install chocolatey:

[2017-01-19 19:28] ferventcoder opened #1143 "Verify checksums for very large files"
![image](https://user-images.githubusercontent.com/12760779/141294510-3ac67d4c-ed9f-4eb7-ad25-7c76b36d5ed1.png)

Related issue - https://github.com/ferventcoder/checksum/issues/6

UPDATE: As Chocolatey Gitter chat is now unavailable, I've added a screenshot of the Gitter chat.

[2017-01-19 20:15] donbecker opened #1144 "Feature Request: choco install: verify checksum of entire package (not installer)"
### What You Are Seeing?

The checksum options in "choco install" validate checksums of external package dependencies downloaded from the internet.

While this can ensure content of the external dependency, it does not ensure content of the package and it's files/content (and therefore does not ensure content of repackaged packages with all included dependencies).

### What is Expected?

Suggest n

[2017-01-19 20:34] ferventcoder commented on #1144
It already does this.

[2017-01-19 20:35] ferventcoder commented on #1144
But I get what you mean. Ensuring that the package coming down has an external verification that you can run client side. I like it.

[2017-01-19 20:37] ferventcoder commented on #1144
You wouldn't need to specify the type. That is determinable based on the value passed through and it's length.

[2017-01-19 20:38] ferventcoder commented on #1144
Sorry, what I meant there is that NuGet.Core already gets an expected package checksum and then verifies it received that same size automatically.

Which isn't the same as this request.

[2017-01-19 23:15] ferventcoder commented on #985
It turns out we had #188

[2017-01-19 23:16] ferventcoder commented on #188
A user cancelled script will auto rollback - https://github.com/chocolatey/choco/issues/985

[2017-01-19 23:16] #188 closed

[2017-01-19 23:17] ferventcoder commented on #188
Forgot this was here when I put in the work for the 0.10.2 release

[2017-01-19 23:31] ferventcoder commented on #206
@chantisnake not an issue, more of a learning thing - note that when you specify a source, you are overriding ALL other sources to just what you specify.

`choco install you-get -fvdy -s $pwd` <--- that means ONLY search for packages and dependencies in `$pwd`. See https://chocolatey.org/docs/create-packages#testing-your-package for how you can handle multiple sources for testing.

[2017-01-20 06:27] mwallner commented on #1062
I thought there is a fork of nuget for choco where such changes can be made? (https://github.com/chocolatey/nuget-chocolatey)

[2017-01-21 15:35] ferventcoder opened #1145 "Show better messaging when unable to load Licensed assembly"
Provide more detailed messaging when there is an error loading a licensed assembly or when calling a function in that assembly.

[2017-01-21 15:40] #1145 closed

[2017-01-21 15:43] ferventcoder opened #1146 "Aliases for Install-ChocolateyVsixPackage"
Add aliases that match up to other functions better.

- "Name" for `$PackageName`
- "Url" for `$VsixUrl` <- is the big one here
- "VisualStudioVersion" for `$vsVersion`

[2017-01-21 15:43] #1146 closed

[2017-01-21 15:48] ferventcoder commented on #1061
I linked this up to a feature in the licensed backlog.

[2017-01-21 16:13] #1012 closed

[2017-01-21 16:14] #1010 closed

[2017-01-21 16:23] ferventcoder opened #1147 "Ensure Sync command can be machine parseable - quiet logging"
Ensure that some methods can have logging silenced so that sync command returns machine parseable output when called with `-r`.

[2017-01-21 16:23] #1147 closed

[2017-01-21 18:12] ferventcoder opened #1148 "API - lib should merge the AlphaFS dependency"
AlphaFS should not be a required package to also depend on when using chocolatey.lib.

[2017-01-21 18:17] #1148 closed

[2017-01-21 18:28] #1067 closed

[2017-01-21 18:51] #1069 closed

[2017-01-21 19:49] #1088 closed

[2017-01-21 23:28] #1083 closed

[2017-01-21 23:29] #1053 closed

[2017-01-22 23:05] Cubix651 commented on #1062
I'm still working on solution. I've wrote fix for nuget-chocolatey (as suggested @mwallner). Could you explain me how the nuget-chocolatey is deployed into choco? I've tried to replace old Nuget.Core.dll with new version (just for local check) but I get runtime errors:
`System.IO.FileLoadException was unhandled by user code
  FileName=NuGet.Core, Version=2.11.0.0, Culture=neutral, PublicKeyToken=n

[2017-01-23 10:45] KonomiKitten opened #1149 "'choco install smplayer' ERROR: Cannot bind argument to parameter 'file' because it is an empty string."
### What You Are Seeing?
ERROR: Cannot bind argument to parameter 'file' because it is an empty string.

### What is Expected?
The package to install correctly.

### How Did You Get This To Happen? (Steps to Reproduce)
choco install smplayer

### Output Log
https://gist.github.com/KonomiKitten/b971ecf563dab7cca08f12baeaa5cf33

[2017-01-23 13:37] AdmiringWorm commented on #1149
@KonomiKitten this is package problem not a choco issue,
the package isn't getting the correct installer on a 32bit system.

[2017-01-23 13:40] KonomiKitten commented on #1149
@AdmiringWorm okay thanks feel free to close, I wasn't able to tell what the issue is and the package has a green light on the website.

[2017-01-23 13:44] AdmiringWorm commented on #1149
@KonomiKitten I don't have the power to close issues in this repo.

I think the automated tests only test the 64bit install of a package, which is why it have a green light.

[2017-01-23 13:45] KonomiKitten commented on #1149
@AdmiringWorm maybe they should be testing both?

[2017-01-23 13:51] AdmiringWorm commented on #1149
@KonomiKitten I agree, I've added it as an issue in the package verifier.

[2017-01-23 13:52] KonomiKitten commented on #1149
@AdmiringWorm thanks I just realised I can close this issue myself so doing so.

[2017-01-23 13:52] #1149 closed

[2017-01-23 14:26] majkinetor commented on #1149
Will not push new package, will be fixed on next update.

[2017-01-23 18:19] 07416 commented on #1124
I have 2 GB of cache files. Is it safe to delete everything manually?
If I need to reinstall a program I can download it again.

[2017-01-23 18:21] ferventcoder commented on #1124
@07416 yes, apologies if that is not clear. As long as you are not saying you have 2GB of files including nupkg files in what you consider cache - the "%ChocolateyInstall%\lib" location is not what we would consider cache in this case.

[2017-01-23 18:24] 07416 commented on #1124
@ferventcoder The location is `~\AppData\Local\Temp\chocolatey`.

[2017-01-23 20:54] cobrabr commented on #761
I have a similar problem with a couple of other packages (`diffmerge`, `rdcman` and `mremoteng`, to be precise). If I run the MSI manually, the installation goes through, and if I try to update them again via Chocolatey, it'll recognize that the version being installed is current and skip it.

I can post the logs if that would help in any way.

[2017-01-24 02:44] ferventcoder commented on #761
@cobrabr what's the issue exactly?

[2017-01-24 06:28] cobrabr commented on #761
@ferventcoder -- trying to run `choco upgrade` for any of those packages fails in a manner similar to what the OP described (i.e. I get an "Error 1603" message and Chocolatey tells me it couldn't upgrade the package).

[2017-01-24 16:18] darrelmiller commented on #268
Really happy to see this feature.  I have big plans for this :-)

[2017-01-24 17:18] abmoham commented on #605
I'd like to request that it also respect proxy bypass:

NO_PROXY=127.0.0.1,localhost,*.example.com

[2017-01-24 18:05] abmoham commented on #497
Voting this up to support issue [#605](https://github.com/chocolatey/choco/issues/605)

[2017-01-24 20:23] ferventcoder commented on #497
Thanks @abmoham. We'll bump the priority for this.

[2017-01-25 08:02] ferventcoder commented on #761
1603 is a generic error. Sometimes things will refuse to install until you clear out a pending reboot. Perhaps give that a shot and see if it resolves your 1603 issues. Thanks!

[2017-01-25 13:58] alex3305 commented on #973
I am stuck at the same issue, executing the following commands, will yield the default value:
[code]

[2017-01-25 15:11] ferventcoder commented on #973
@alex3305 that was a pretty obtuse bug, but you found it!

[2017-01-25 15:12] ferventcoder commented on #973
We will change this to a duplicate of #1059

[2017-01-25 15:13] ferventcoder commented on #1059
Some discussion at #973

[2017-01-25 15:13] ferventcoder commented on #1059
Great thing, @alex3305 has discovered what is causing this issue and has proposed a fix! So this is likely to be fixed for 0.10.4! Sit tight.

[2017-01-25 21:43] linuxprox commented on #998
I'd like to second this idea. Having a way to globally rotate the choco logs (every x days or something) but also having the ability to manually perform this at command prompt would be nice as well.

[2017-01-25 21:44] ferventcoder commented on #998
Added to the list for not 0.10.4, but 0.10.5. This could be pretty easy but I didn't want to shift the release date.

[2017-01-25 22:28] Baemir commented on #434
pleaserino fixerino the bugerino

it's very annoying to have to run cmd/powershell in admin mode every time

[2017-01-25 23:53] ferventcoder commented on #368
I'd be interested to know if this is still being experienced?

[2017-01-26 00:02] ferventcoder opened #1151 "Option/feature to stop installation when a dependency fails"
There should be an option to allow Chocolatey to stop the chain of installs if one of the items fails. It should be an opt-in option / feature as most folks would be using Chocolatey where dependencies are app to app (most of the time).

#### Reference
Originally we switched from doing this automatically way back in 0.9.8.25. However in [discussion](https://github.com/chocolatey/chocolatey/issues/

[2017-01-26 19:19] mwallner opened #1152 "Install-BinFile should throw an exception when used on any non-executable"
### What You Are Seeing?
Install-BinFile acceppts any file in `-Path` parameter
When a .ps1-script is given the execution of the generated shim crashes.

### What is Expected?
unsupported filetypes/non-executables should be rejected

### How Did You Get This To Happen? (Steps to Reproduce)
see minimal sample at gist
GIST LINK https://gist.github.com/mwallner/3ff3de99195feb62bfa65092d56296cd

[2017-01-26 20:12] scw commented on #368
Hi @ferventcoder  (thanks for chocolatey!) I've built a fresh Windows Server 2012R2 VM which has ECS enabled, and I can't reproduce this issue any more. Thanks!

[2017-01-26 20:12] #368 closed

[2017-01-26 21:13] rismoney commented on #1151
booya!  fail early FTW!

[2017-01-26 21:57] ferventcoder commented on #368
Thanks for the followup.

[2017-01-27 00:00] cobrabr commented on #761
Will do. I'll let you know soon. Thanks! 👍

[2017-01-27 09:59] ajayshikhare commented on #1059
Hey Rob, Glad to hear this,  We are getting better!
You guys have saved me atleast 1000 foreman reports from nodes with changes in the chocolatey.config file in every puppet run ;).
When is the go live planned for 0.10.4 ?

[2017-01-27 22:53] GerbenWelter commented on #1130
I'm experiencing the same issue with our current server hosting several packages.. I setup a second simple chocolatey server with just one package (curl). There's no proxy between the client and server. This is the output from the client:

[code]

Using Wireshark I see the client getting /chocolatey/Packages. After that the client requests /chocolatey/Packages/$metadata. This triggers the 400 erro

[2017-01-27 22:57] ferventcoder commented on #1130
@GerbenWelter Your source should be "http://chocolatey.server/chocolatey" and nothing more. HTH

[2017-01-28 00:25] ferventcoder commented on #1059
Sometime in Feb.

[2017-01-28 13:27] GerbenWelter commented on #1130
This certainly helps. Now it works again. The old source url has worked since we started with Chocolatey over half a year ago, so something must have changed. Anyway thank you @ferventcoder for the quick pointer.

[2017-01-28 13:31] GerbenWelter commented on #1130
Ah, now I see why. The source url was wrong in chocolatey.config but was getting overrided by Puppet with the correct one. Using choco from the cli made the error surface. Sorry, for the noise.

[2017-01-28 14:37] davidking727 commented on #1130
I still have random 400 errors. Source listed in chocolatey.config is

  <source id="chocolatey" value="https://chocolatey.org/api/v2/" disabled="false" priority="0" />

[2017-01-30 18:12] ferventcoder commented on #1152
Added to list. 👍

[2017-01-30 21:47] Zalastax commented on #803
In the meanwhile you can schedule this script via the Task Scheduler:
[code]

[2017-02-01 03:41] ferventcoder commented on #1124
Yep, that's fine.

[2017-02-01 03:47] ferventcoder commented on #855
Thanks folks!

[2017-02-01 03:49] ferventcoder commented on #1101
I thought the default search result when `choco search` was by relevance?

[2017-02-01 04:04] RichiCoder1 commented on #1101
I'll double check, but unless something changed inbetween this issue and now, choco search doesn't even allow searching by relevance. Only popularity and id. Pretty sure id default.

[2017-02-01 09:32] dahlbyk opened #1154 "Add AllHosts properties to custom host's $PROFILE"
As discussed in https://github.com/dahlbyk/posh-git/pull/358#issuecomment-276262929, the Chocolatey custom host (introduced in https://github.com/chocolatey/choco/commit/480cf4bd592f9305712c74abc2a4dc234f8d0b03) does not set the extra `NoteProperty` values normally found on a `$PROFILE`.

The Chocolatey host's `$PROFILE` is currently set to the `CurrentUserCurrentHost` value for the default shell

[2017-02-01 13:37] teknowledgist opened #1155 "package parameters are unused when calling "install .\somepackage.nupkg""
### What You Are Seeing?
package parameters work fine for packages called from the Chocolatey repository, but are "lost" when the same package is installed from a local path.  I've confirmed this with several packages on a clean, patched, Win7x64 with the latest (non-beta) Chocolatey release.

### What is Expected?
package parameters work the same regardless of the location of the .nupkg file.

##

[2017-02-01 13:54] gep13 commented on #1155
@teknowledgist what happens if you try:

[code]

[2017-02-01 14:37] teknowledgist commented on #1155
I've never called it that way, but it appears to work.

I still think there is an inconsistency though.  If `choco install <path-to-nupkg>` works the same as `choco install <packageName>`, then including the --packageparameters switch shouldn't make it behave differently in only one of the two contexts.

I think it would be OK if `choco install <name> <path>` were the only way to install local pac

[2017-02-01 15:43] ferventcoder commented on #1155
I would recommend never using `.nupkg` anywhere in your install - it overrides source, it's possible that it overrides other components as well. There are a couple of known issues with it that we will be addressing.

[2017-02-01 15:45] ferventcoder commented on #1155
I am not sure if we will need the full log output, but it couldn't hurt.

[2017-02-01 16:05] teknowledgist commented on #1155
The only time I used a direct call to a .nupkg is when I am testing my own packages.  When I was learning, it was the first thing I tried and it worked, so I stuck with it.  I'm sure I tested the package parameters the same way in the past, but nevertheless, it ain't working now.  I will be sure to use the more complete syntax from now on.

If you want to see the log for one of the packages that e

[2017-02-01 16:12] ferventcoder commented on #1155
I wouldn't say the "wrong" way, more likely a way that works for simpler packages. The easiest way to test is `choco install pkgname -s .` and then any parameters (as long as the nupkg is in the current directory, and doesn't have dependencies that are not present). It's maybe less characters?

Thanks for the log file. Will review to fix this.

[2017-02-01 16:12] ferventcoder commented on #1155
argh, close and comment are right next to each other.

[2017-02-01 19:11] ferventcoder opened #1156 "Warn when a package being installed is x months old"
When a package is over a certain number of months old, Chocolatey should warn a user about installing it. This will give them a quick 10-15 second opportunity to decide not to move forward if auto confirm is on, and will wait for their confirmation otherwise.

[2017-02-01 19:16] ferventcoder commented on #1154
@dahlbyk I love it. Also added this to "Up For Grabs" - hint hint ;)

[2017-02-02 12:02] jamestelfer commented on #1120
@ferventcoder I've committed a strawman to a branch in my fork. If you like the look of it, I'll clean it up and submit it as a pull request. On my local machine it's working nicely, showing progress like:
[code]

The text should be "Saved x GB", or "x GB saved so far...". Also there is formatting and some details of the implementation to clean up.

Also, since this is output focused, I'm not sure

[2017-02-02 21:24] ferventcoder commented on #1065
Duplicate of #902

[2017-02-02 21:24] #1065 closed

[2017-02-02 21:54] splatteredbits commented on #902
Update: turns out, it isn't the Chocolatey installer. I'm running `Update-SessionEnvironment` after the install. So, I am having this same problem.

[2017-02-02 22:01] ferventcoder commented on #902
Recent conversation at https://gitter.im/chocolatey/choco?at=5893a086fba5bfea06c00636

[2017-02-03 09:07] Spamme1 opened #1157 "Improvement: use a local repository for installer files"
We have many virtual machines, which are initialized with vagrant and chocolatey packages every night. At the moment we have our chocolatey repository, where we have duplicate many public chocolatey packages, only to change the download link to a local webserver to avoid to download every night 1 terabyte of the same files, just for example we install MS Sql Server 2016 with management studio on s

[2017-02-03 15:00] KosherSalt commented on #1157
Have you tried adding both sources to your machine and giving the local repository a higher priority? I haven't tried it before, but it seems like it should work like you're intending. https://chocolatey.org/docs/commands-sources

[2017-02-03 15:04] ferventcoder commented on #1157
Hi @Spamme1 - We have a tool called Package Internalizer that assists with exactly this. https://chocolatey.org/docs/features-automatically-recompile-packages

[2017-02-06 09:46] Spamme1 commented on #1157
@KosherSalt It's exactly what we do now, but it creates more work, because we had to clone many public packages and maintain them. Therefore the suggestion is to keep the public packages but just check before downloading any installer if it is already available in a local network.

[2017-02-06 09:49] Spamme1 commented on #1157
@ferventcoder We have a powershell script to update some packages, but not all, but it would be much better if we can use the public packages and just host locally the software installer files.

[2017-02-06 11:48] xlegalles opened #1158 "Compatibility with prerelease string starting with a number. Compatibility with GitVersion and NuGet v3.5+"
We use GitVersion to create semantic versions from git flow branches: it works perfectly with Nuget 3.5 but we get some trouble with Chocolatey:

### What You Are Seeing?
5.79.2-6297-eventstorem004 is not a valid version string

### What is Expected?
This is given by GitVersion for Nuget and it is supposed to work. If you use the same command, same nuspec with Nuget 3.5, it just works.

### How Di

[2017-02-07 10:00] biradrags opened #1159 ".chocolateyPending file is being used by another process"
Hello
We use chocolatey to install many custom packages remotely using Ansible

### What You Are Seeing?
When I run the installation locally on the server, installation is correct.
However, if I run the installation remotely through the ansible installation has an error
### What is Expected?
Remote installation must take place correctly
### How Did You Get This To Happen? (Steps to Reproduce)
When

[2017-02-07 12:57] ferventcoder commented on #1159
It feels like you have two Chocolatey's running. That is usually the case when you see an error such as this.

[2017-02-07 12:59] ferventcoder commented on #1159
However the error of not being able to access the file is likely not the actual error, it's just a warning that is shown.  Usually it won't break the process.

From what I see here, it looks like you should increase your WinRM memory. It's too low to handle an install. I would suggest at least 800MB.

[2017-02-07 13:00] ferventcoder commented on #1159
It's the OutOfMemory exception that led me to this conclusion - https://gist.github.com/biradrags/a413afa6f8987d7779bca9441ed0fc72#file-chocolatey-log-L271

[2017-02-07 13:01] ferventcoder commented on #1159
Here is how you can do this: https://github.com/chocolatey/choco/issues/721#issuecomment-216867984

1GB is probably not a bad idea.

[2017-02-07 13:01] ferventcoder commented on #1159
@biradrags let me know if that resolves your issue. Thanks!

[2017-02-07 14:11] pascalberger commented on #1056
@ferventcoder @AdmiringWorm Any update on this?

[2017-02-08 05:19] biradrags commented on #1159
@ferventcoder thank you so much!!!
I changed the config winrm and it worked
winrm set winrm/config/winrs '@{MaxMemoryPerShellMB="2048"}'

[2017-02-08 07:12] ferventcoder commented on #1056
I would entertain a PR that allows adding this setting. I would be a bit
concerned on this chamge for wholesale of downloading things. At least at
this stage, maybe it would do no harm overall.

On Tue, Feb 7, 2017 at 08:12 Pascal Berger <notifications@github.com> wrote:

--

Rob
"Be passionate in all you do"

http://codebetter.com/robreynolds
http://ferventcoder.com
https://twitter.com/ferventcod

[2017-02-08 07:12] ferventcoder commented on #1159
Happy to assist.

[2017-02-08 07:12] #1159 closed

[2017-02-08 08:51] pascalberger commented on #1056
@AdmiringWorm Interested in doing the PR? Otherwise I can also give it a try.

[2017-02-08 18:49] AdmiringWorm commented on #1056
@pascalberger Feel free to give it a try if you want.

[2017-02-08 19:44] cobrabr commented on #761
FYI -- I found out what the error is, and it's got nothing to do with Chocolatey. It's a problem with the software installation itself (something related to previously-installed versions).

[2017-02-08 22:56] Redsandro opened #1160 "Flood of the broken packages - Continuous testing"
The new checksum policy adds security, but an increasing amount of packages fail at some point after they were approved.

One of the things that cause this is that certain packages download a binary that is automatically updated to the latest version upstream, but the package hash is not.

For example, I installed 5 reasonable packages, and 3 failed: `GoogleChrome`, `WinRAR`, and `mpc-hc`.

I thin

[2017-02-08 23:55] Redsandro commented on #1160
__Update__

Above remains true for some packages (e.g. `WinRAR`), but I found that certain hash mismatches are caused by using an old version of `chocolatey` as packaged by `boxstarter`: https://github.com/mwrock/boxstarter/issues/225

[2017-02-10 03:40] Redsandro opened #1161 "Is choco being blocked?"
Some installer binaries get 403 when chocolatey tries to download them, but they work fine in the browser. Do we need to randomize the user agent?

Noticed when [reviewing FreeFileSync 8.9](https://chocolatey.org/packages/freefilesync/8.9).

[2017-02-10 10:05] LukeAsh commented on #1161
Noticed that already some time ago, there was discussion under https://chocolatey.org/packages/freefilesync/8.3 but no progress since then. I'm going to ask FreeFileSync author about that.

[2017-02-10 10:19] Redsandro commented on #1161
Confirmed that it is user-agent. Not sure what chocolatey uses internally, but this tells a story:

The download is blocked by certain user agents.

__`wget` default user agent:__
[code]

__Spoofed user agent:__
[code]

[2017-02-10 23:45] arledesma commented on #1161
I ended up hacking around this by downloading the file into the temp location that chocolatey can pick it up and continue.   This was an easier solution when dealing with many packages in our boxstarter scripts.

[code]

[2017-02-11 07:26] idontgitit commented on #1001
hi. we need the chocolatelyinstall and sometimes chocolatelyuninstall for advanced instructions in our apps. including things like available disk space, checksum, OS version et al checks, amongst other things.

[2017-02-13 18:52] ferventcoder commented on #1001
How about we look to see if there are PowerShell files in the package, and if they are not named appropriately we provide a warning?

[2017-02-13 19:53] idontgitit commented on #1001
yea seems like it would be great to have cpack verify the anticipated folder/file structure, and error if they're misspelled or empty

[2017-02-14 17:42] teknowledgist opened #1162 "Uninstall-ChocolateyPackage with minimum arguments does nothing and errors"
### What You Are Seeing?
`ERROR: Exception calling "Start" with "0" argument(s): "Cannot start process because a file name has not been provided."`
When ChocolateyUninstall.ps1 uses:
`Uninstall-ChocolateyPackage -packagename $packagename`

### What is Expected?
Chocolatey uninstalls the package.

### Comment
The code for Uninstall-ChocolateyPackage has the -packagename as the only required argumen

[2017-02-14 18:17] ferventcoder commented on #761
Thanks for the followup @cobrabr

[2017-02-14 20:01] ferventcoder commented on #1162
Technically you are correct that `PackageName` is the only PowerShell function ***required*** argument.

The docs hint but don't mention that silent args or file is also required, although technically not required by the function.

don't lead you down the right path either - you need either silent args and/or the file for it to actually work. So this is a docs issue more than it is anything else,

[2017-02-14 20:40] ChrisMagnuson commented on #386
I have setup automatic packages for both [Kafka](https://chocolatey.org/packages/kafka/0.10.1.1) and [prometheus](https://chocolatey.org/packages/prometheus/1.5.2) but both of these packages depend on this feature working as they are either tar.gz or tgz files which contain a tar that doesn't current get extracted.

I would rather not write specialized code for these packages and instead rely on I

[2017-02-14 20:59] teknowledgist commented on #1162
I'm not quite sure what you mean by "**_required_**".  Obviously, `-PackageName` is the only required argument as defined in the code, but I would argue that required means necessary for a function to work as expected (by users, not coders).

I haven't dug deep, but without the `-File` argument, what can the function possibly do?  It looks to me like calling the function sans `-File`, would end up

[2017-02-14 21:15] ferventcoder commented on #1162
File and Silent Args are also required as defined by users. But it's not the same in every situation, sometimes only silent arguments are required, and sometimes only file is required. MSI - no need for filename because GUID is passed as part of the arguments.

If you run `choco new test`, you will see what is expected where creating the packaging self-documents this information.

No broader visio

[2017-02-14 21:18] ferventcoder commented on #1001
We are bringing the validator local. Hoping for by 0.10.5 for that.

[2017-02-14 21:19] ferventcoder commented on #1001
https://github.com/chocolatey/choco/issues/602

[2017-02-14 22:09] teknowledgist commented on #1162
It is?  Must be buried in `$env:chocolateyInstallArguments` I guess.

I'm not trying to be a smartass.  I guess I just am not understanding the code enough to see how calling Uninstall-ChocolateyPackage without a `-file` argument (exe or msi) could ever actually accomplish anything (unless the app's own uninstall process is powershell to be passed as `-silentArgs`).  That's why I felt it was an "i

[2017-02-15 01:53] ferventcoder commented on #1162
Sorry, clarification: GUID is determined by the package maintainer and passed as part of the silent args.

[2017-02-15 01:54] ferventcoder commented on #1162
It's all shown in the generated files when you run `choco new`

[2017-02-15 13:28] teknowledgist commented on #1162
OK.  I see that `-file` is not required (or used) for msi filetype.  I think it still is for .exe, but establishing parameter sets could get messy.  I'm not going to push for it, especially if the documenation is clarified.

Thank you for your patience.

[2017-02-15 18:58] teknowledgist opened #1163 "Install-ChocolateyInstallPackage docs/function mismatch"
### What You Are Seeing?
Calling Install-ChocolateyInstallPackage for a local .msi without specifying the `-filetype` parameter causes a `ERROR: Exception calling "Start" with "0" argument(s): "The specified executable is not a valid application for this OS platform."`

### What is Expected?
FileType is not required and will be determined if not given.  The documenation for Install-ChocolateyInsta

[2017-02-17 12:07] petermbauer commented on #881
I also came across this issue and had to add the filename of the .msi to the silentArgs parameter as a workaround. Would be great if this would be fixed, especially since i had to add write a chocolateyBeforeModify.ps1 for my packages using the Uninstall-ChocolateyPackage to uninstall the old version of the .msi on choco upgrade.
Is there a chance to change the irritating behaviour of not running

[2017-02-17 22:04] #1141 closed

[2017-02-18 06:50] pascalberger commented on #1158
This seems like the same issue NuGet < 3.5 had, that it couldn't handle pre-release tags starting with a number. There is already an open issue over at the GitVersion repository for providing version numbers which should work with NuGet < 3.5 and therefore also be suitable for Chocolatey: https://github.com/GitTools/GitVersion/issues/781

[2017-02-18 18:03] ferventcoder commented on #618
This may have already been fixed - can you verify?

[2017-02-18 18:09] ferventcoder commented on #262
@maxgaulhofer I think the issue you want is #497 - that is where we are adding `choco config set proxyBypassList`

[2017-02-18 18:17] ferventcoder commented on #262
@mrdima @da9l @sfhardman In 0.10.4 this will be:

`choco source add -n --bypassProxy`

This will still need to be added to the `chocolateysource` puppet provider. cc @jpogran / @glennsarti / @Iristyle /  @chocolatey/chocolatey-puppet

[2017-02-18 18:44] ferventcoder commented on #262
For Puppet - filed https://tickets.puppetlabs.com/browse/MODULES-4418 to handle adding the `bypass_proxy` to `chocolateysource`.

[2017-02-18 18:46] ferventcoder commented on #497
Adding `choco config set proxyBypassList` for 0.10.4.

[2017-02-18 19:07] ferventcoder opened #1165 "Set Explicit Proxy Bypass List / Bypass On Local"
Similar to #605, #262, and #497

Add a proxy bypass list to the configuration so that proxies are able
to be bypassed for some connections. Without this an explicit proxy
that is set will never bypass settings for downloads.

[2017-02-18 19:07] ferventcoder commented on #1165
Adding `choco config set proxyBypassList` for 0.10.4.

[2017-02-18 19:08] ferventcoder commented on #497
Rereading this issue - moved proxyBypassList to #1165.

[2017-02-19 04:01] ferventcoder commented on #262
@maxgaulhofer Design decision. It's a fallback to catch proxy configuration set for the system.

[2017-02-19 04:20] ferventcoder opened #1166 "Chocolatey Licensed Feed Shows Up More Than Once"
When switching between licenses, suddenly more than one `chocolatey.licensed` source shows up.

[2017-02-19 04:25] #1166 closed

[2017-02-20 07:13] KurtTheBerner commented on #618
It works now, tested with Version 0.10.3.

Regards,
Kurt

Von: Rob Reynolds [mailto:notifications@github.com]
Gesendet: Samstag, 18. Februar 2017 19:36
An: chocolatey/choco
Cc: Burri Kurt; Author
Betreff: [Newsletter] Re: [chocolatey/choco] Get-ChocolateyWebFile ignores Proxy settings for FTP Transfers (#618)

This may have already been fixed - can you verify?

—
You are receiving this because you

[2017-02-20 20:05] ferventcoder commented on #618
I believe this was fixed with https://github.com/chocolatey/choco/issues/765

[2017-02-20 20:05] #618 closed

[2017-02-20 20:05] ferventcoder commented on #618
Fixed in 0.9.10, specifically 5fd264dc9cd1cba5f2e92150bfa454011b7822e4

[2017-02-20 20:28] ferventcoder opened #1167 "Remove quotes in process passed to Start-ChocolateyProcessAsAdmin / CommandExecutor"
Sometimes when passing things through from one query to Start-ChocolateyProcessAsAdmin, the quotes will still be there when running a process. This makes the execution fail on something it doesn't need to.

[2017-02-20 20:44] #1167 closed

[2017-02-20 20:52] ferventcoder commented on #605
This will be implemented in 0.10.4

[2017-02-20 20:52] #605 closed

[2017-02-22 00:22] aronovgj commented on #1160
Is this about .org? Then I believe this issue to be wrong here.

1. Is already done as far as I know but it takes weeks to go through all packages.

[2017-02-22 00:29] aronovgj commented on #1161
If someone blocks chocolatey then it might happen for a reason. I'd contact the authors. There was a similar problem just some time ago. Maybe for some reason the authors think that it is better to block chocolatey than to contact somebody:
https://www.reddit.com/r/sysadmin/comments/5g5npg/fosshub_message_for_chocolatey_please_stop_with/

[2017-02-22 03:05] Redsandro commented on #1161
@aronovgj said:

Ooh, that's an interesting topic. I had no idea we (or I, I see myself quoted there) had angered some people. I don't think about such things; I'm from Linux where FOSS is pretty much begging to be distributed; bandwidth is not an issue; and there is no such thing as "mandatory download from our website for ad revenue". And literally no one contacted us regarding this to my knowle

[2017-02-22 06:05] ferventcoder commented on #1161
And you have no idea how many times I attempted to explain that to folks (unless you read through that entire thread of comments). It was not the only place where it came up though as far as reddit goes.

[2017-02-22 07:00] ferventcoder commented on #1160
It takes about two weeks as far as I recall. That is just one service processing through. There are plans to look at how to scale that out (the algorithm for package test selection in a grid, the rest already scales).

[2017-02-22 21:17] ferventcoder opened #1168 "Error when source name is not found instead of "0 packages found""
[code]

Should error instead, similar to how it errors when you try to reach a source by url.

[2017-02-23 12:49] Isopolito commented on #962
Hi, is this still up for grabs? If so I'll start researching it. My schedule is pretty tight between work, family, etc. so it might take me a while if that's okay

[2017-02-23 20:21] ChrisMagnuson commented on #386
Used the running the get-chocolateyunzip function after the initial Install-ChocolateyZipPackag and things are now working. [Example](https://github.com/Tervis-Tumbler/au-packages/blob/master/kafka/tools/chocolateyinstall.ps1#L14) It would still be nice to have this built in but we are not blocked on this any longer.

[2017-02-23 22:53] ferventcoder commented on #962
Still up for grabs :D

[2017-02-24 09:01] mwallner commented on #1165
Is it possible to temporary set a `proxyBypassList` ?
as example:
[code]

[2017-02-24 09:33] mihaimetal commented on #1048
[code]

[2017-02-24 16:56] tek0011 opened #1170 "Error deserializing response of type chocolatey.infrastructure.app.configuration.ConfigFileSettings:"
### What You Are Seeing?
Choco config file gets corrupted.

### What is Expected?
Choco config file does not get corrupted.

### How Did You Get This To Happen? (Steps to Reproduce)
We manage many packages with Puppet.  I am not sure how this happened as there are 10,000's of choco commands issued daily.  I see what happened, just dont know how.  The config file got corrupt on line 21.  It is miss

[2017-02-24 23:58] ferventcoder commented on #1170
Duplicate of #1047

[2017-02-24 23:58] #1170 closed

[2017-02-25 00:00] ferventcoder commented on #1170
@tek0011 We have a fix for this we are evaluating so you should not see this in 0.10.4. Subscribe to #1047 for updates. HTH

[2017-02-25 11:48] Kristinita opened #1171 "[Feature request] Push multiple packages"
### 1. Request

It would be nice, if will be possible push multiple packages to Chocolatey remote server.

### 2. Justification

One-by-one push may spend a lot of time, if maintainer have a lot of packages.

### 3. Desirable behavior

For example, I create and/or upgrade multiple packages. [**I tested all my packages**](https://gist.github.com/Kristinita/8d35c6a73b8c1e678dce675556819915).

All my

[2017-02-27 17:45] #1134 closed

[2017-02-27 17:49] ferventcoder commented on #497
I think this may actually be covered with #1165 as you will be able to specify the bypass list and whether to bypass on local or not.

[2017-02-27 18:16] #1095 closed

[2017-02-27 18:19] ferventcoder commented on #421
@pyhedgehog I believe this issue is fixed in the currently available version of Chocolatey. Can you verify?

[2017-02-27 18:27] ferventcoder commented on #1054
If this becomes undesirable for some folks, we may need to shift this around a bit for the next version.

[2017-02-27 18:59] ferventcoder opened #1172 "Note Web status errors on package install failures"
If a package is not installed due to web errors, catch the status code and display it as part of the failure.

[2017-02-27 19:00] #1172 closed

[2017-02-27 20:13] jberezanski commented on #1054
Yes, this will be undesirable. I wouldn't want choco to prompt for elevation each time I run a query command (info, list etc.).

[2017-02-27 22:48] ferventcoder commented on #1165
@mwallner sounds cool. I think we should do that.

[2017-02-28 00:46] ferventcoder commented on #917
This will be in 0.10.4!

[2017-02-28 00:46] #917 closed

[2017-02-28 01:16] ferventcoder opened #1173 "Set proxy information at runtime"
Pass proxy information with a command. Spinoff of #1165

[2017-02-28 01:24] ferventcoder commented on #1173
Allow passing proxy override information with each command. This allows
the following items to be passed: `--proxy="'value'"
--proxy-user="'<user>'" --proxy-password="'<pwd>'"
--proxy-bypass-list="'<comma separated, list>'"
--proxy-bypass-on-local`.

[2017-02-28 01:24] #1173 closed

[2017-02-28 01:25] ferventcoder commented on #1165
@mwallner moved to #1165.

[2017-02-28 01:25] #1165 closed

[2017-02-28 01:25] ferventcoder commented on #1165
Sorry, #1173

[2017-02-28 02:03] ferventcoder commented on #1054
Will only happen if your prompt is not elevated

[2017-02-28 02:06] ferventcoder commented on #1054
@jberezanski still an issue considering it only prompts if you are an admin in a non-elevated context?  ^^

I'm assuming this was already understood though so likely. ?

[2017-02-28 18:08] jberezanski commented on #1054
Most of my command prompts are non-elevated (this adds safety from fat fingers and security from unexpected actions performed by binary tools downloaded from the net). When I want to run something with admin rights, I just put [`elevate`](https://chocolatey.org/packages/elevate.native) in front of the command.

So yes, still an issue.

Ideally, choco would ask for elevation only when processing on

[2017-02-28 19:58] ferventcoder commented on #1054
Perhaps there is a way to ensure you won't have issues - still exploring this.

[2017-03-01 08:29] pascalberger opened #1174 "Prevent leading 0 in package version numbers"
### What You Are Seeing?
Currently it is possible to have packages containing leading zeros in version numbers (eg. [Totalcommander](https://chocolatey.org/packages/TotalCommander), see https://github.com/chocolatey/chocolatey-coreteampackages/issues/600).

### What is Expected?
While this works using current `choco` client and the chocolatey.org feed, it can break with other tools (eg. ProGet).
N

[2017-03-01 08:42] jberezanski commented on #1174
I agree in principle - I believe version numbers should be treated strictly as numbers, not strings, so leading zeros should be meaningless.
The choco client still needs to be able to handle existing packages with leading zeros, however.

[2017-03-01 08:46] pascalberger commented on #1174
I agree that `choco install`should be able to handle installation of existing packages with leading zeros, but `choco pack` should tread version numbers strictly as numbers.

[2017-03-01 20:30] ferventcoder commented on #1111
This will be fixed in 0.10.4

[2017-03-01 20:30] #1111 closed

[2017-03-01 22:27] dschepler opened #1175 "Chocolatey is removing files with no extensions in the filename"
### What You Are Seeing?
When we install a package from our local repository containing files with no extensions in the filenames (e.g. `scalable-3p-eigen3\tools\include\eigen3\Eigen\Core`), those files are getting removed after unpacking but before running the post-install script.  They're definitely present in the .nupkg file, and NuGet.exe (version 3.4.3.855 from choco install NuGet.CommandLine

[2017-03-01 22:56] ferventcoder commented on #1175
@dschepler If you can provide that package, that would be great.

Note there is some weird issue where NuGet.Core isn't extracting any binaries that have no extensions - https://gist.github.com/dschepler/7d3c070aff73269c27240279e672969a#file-choco-log-txt-L3227-L3659

The next thing to determine is why it is doing this.

[2017-03-01 22:59] dschepler commented on #1175
OK, what would be the easiest way to get the packages to you?  (You would probably need scalable-3p-base as well since scalable-3p-eigen3 depends on it.)

[2017-03-01 23:00] ferventcoder commented on #1175
How big are the files? you can just add .zip to the end of the extension for the package and attach it here.

And I'll only need the one with issues.

[2017-03-01 23:03] ferventcoder commented on #262
Still working on this - the Choco/NuGet.Core does a connection to the domain prior to hitting the source and that is causing some issues.

[2017-03-01 23:04] dschepler commented on #1175
[scalable-3p-eigen3.3.3.2.nupkg.zip](https://github.com/chocolatey/choco/files/812269/scalable-3p-eigen3.3.3.2.nupkg.zip)

[2017-03-01 23:09] ferventcoder commented on #1175
Hi @dschepler - what commands did you issue to create this package? I'm attempting to extract that file now and not having much luck (I wonder if there is something up with GitHub). Or it could be something on my side.

[2017-03-01 23:11] dschepler commented on #1175
`nuget pack scalable-3p-eigen3.nuspec -NoPackageAnalysis -NonInteractive`

(If I remember correctly, when I first created the packaging scripts, `choco pack` wouldn't work as a regular user so I just extracted the nuget command line that it was invoking.)

[2017-03-01 23:15] ferventcoder commented on #1175
I'd suggest giving `choco pack` another try. Especially if your nuget version is now above 3.4

[2017-03-01 23:32] ferventcoder commented on #1174
Version numbers are treated strictly as numbers, however handling on the source repository may look at the entire version number with the leading zeros.

[2017-03-01 23:45] dschepler commented on #1175
The new version created with `choco pack` seems to be working OK.  (And it can still be extracted manually using `nuget install`, which is important for some of our customer installs where they need to have multiple versions of the package repository installed in different directories for different releases of our software.)

[scalable-3p-eigen3.3.3.2.1.nupkg.zip](https://github.com/chocolatey/cho

[2017-03-02 03:03] bazzilic opened #1176 "`Install-ChocolateyFileAssociation` - allow passing multiple arguments"
### What You Are Seeing?
`Install-ChocolateyFileAssociation` makes a big assumption on how to pass arguments to the executable, and it is not a configurable behavior. It makes it impossible to register file association for programs that need some additional command line switches.

### What is Expected?
`Install-ChocolateyFileAssociation` has a more configurable behavior that let's you to modify ho

[2017-03-02 09:59] frankhalligan opened #1177 "MSU fails to install with space in path"
### What You Are Seeing?
MSU-based package fails to install if there is a space in the Windows username

### What is Expected?
Install to succeed

### How Did You Get This To Happen? (Steps to Reproduce)
Windows 7 Professional 6.1.7601
Windows Username: Frank Halligan
Chocolatey: 0.10.3
[code]
Also occurs with "cinst rsat" (and presumably any other msu-based packages)

### Output Log
Full debug lo

[2017-03-02 21:00] pauby opened #1178 "$env:OS_NAME is 'Windows' for Windows 10"
### What You Are Seeing?

The environment variable OS_NAME is 'Windows' for Windows 10

### What is Expected?

$env:OS_NAME should be 'Windows 10' for Windows 10. Under Windows 7 it reports, correctly, Windows 7.

### How Did You Get This To Happen? (Steps to Reproduce)

Inside ChocolateyInstall.ps1 on a package I am testing I added this code:

`Write-Debug "OS: $($env:OS_NAME)"`

### Output Log

[2017-03-02 21:10] gep13 commented on #1178
Looks like this:

https://github.com/chocolatey/choco/blob/19cdf4b0da51fcb5e12d9b616971e605a3ff7c9a/src/chocolatey/infrastructure/platforms/Platform.cs#L101

Will need extended to include Windows 10.

[2017-03-02 21:38] ferventcoder commented on #1178
https://github.com/chocolatey/choco/blob/19cdf4b0da51fcb5e12d9b616971e605a3ff7c9a/src/chocolatey/infrastructure/platforms/Platform.cs#L122 (has it) - wonder how the version is coming through.

[2017-03-02 21:39] ferventcoder commented on #1178
Oh... https://msdn.microsoft.com/en-us/library/windows/desktop/ms724832.aspx

[2017-03-02 21:47] #1178 closed

[2017-03-02 22:49] gep13 commented on #1178
Oh..

Nothing like a bit of consistency :smile:

[2017-03-03 09:02] AhmedHamadto opened #1179 "Installing mingw"
I am trying to install mingw to setup geth for ethereum but everytime I run the command line choco install mingw it says extracting for 45 mins and gets timed out, I even tried to manually extract and place the extraction in the C:\tools\ target folder but it still will not install.

[2017-03-03 11:45] DarwinJS commented on #1177
I asked Frank to put file this issue.

The line of code for MSU appears to be here: https://cloudywindows.com/post/oneliners-for-procmon-debugging-of-aws-cloud-formation-automation/

But EXE might be affected here: https://cloudywindows.com/post/oneliners-for-procmon-debugging-of-aws-cloud-formation-automation

MSIs look to be handled correctly here: https://github.com/chocolatey/choco/blob/c798ae

[2017-03-03 15:09] ferventcoder commented on #1179
Hi @AhmedHamadto - note this is likely a package issue and that is not something that comes to this repository. Packaging issues should be filed directly with the maintainers of the package, which if this is a package on the community repository, you can follow up directly on the package page (left menu has "Contact Maintainers"). HTH

[2017-03-03 15:09] #1179 closed

[2017-03-03 15:24] ferventcoder commented on #1177
@frankhalligan @DarwinJS Thanks for logging that. This is now fixed and will be available in 0.10.4.

[2017-03-03 15:27] ferventcoder commented on #1177
Just looked and there is no additional followup for licensed customers - they are already good here.

[2017-03-03 15:29] #1177 closed

[2017-03-03 16:44] ferventcoder commented on #881
Let's close this as a duplicate of https://github.com/chocolatey/choco/issues/229

[2017-03-03 16:44] #881 closed

[2017-03-03 16:46] ferventcoder opened #1180 "Do not create .ignore file if outside of Chocolatey location"

[2017-03-03 16:54] #1180 closed

[2017-03-03 17:24] ferventcoder opened #1181 "Configure a source to be allowed for self-service"
Be able to specify a source as allowed for self-service or not.

[2017-03-03 17:29] #1181 closed

[2017-03-03 17:37] ferventcoder opened #1182 "Trace network traffic"
Be able to trace network traffic by adding `--trace` to your installation call.

[2017-03-03 17:45] #1182 closed

[2017-03-04 13:31] maerf opened #1183 "Chocolaty broken? Lots of Microsoft.PowerShell.Commands.WriteErrorException (and "probable package conflict; existing file not overwritten" from mingw)"
### What You Are Seeing?

I get lots of Microsoft.PowerShell.Commands.WriteErrorException:
(And  mingw-get.exe errors, please see the log. But I guess they are part of  mingget.)

### What is Expected?
That chocolatey downloads and installs the package (Sming) and its dependencies.
I've spent the last 2 days already trying to install a package and fix this installation.

### How Did You Get This T

[2017-03-04 14:11] ferventcoder commented on #1183
So is this a package issue for a package on the community packge repository?

If so please head to the package page at https://chocolatey.org/packages/sming and use the left menu to "Contact Maintainers".

Otherwise if you believe there is an issue with Chocolatey itself, feel free to comment and we can reopen this.

[2017-03-04 14:11] #1183 closed

[2017-03-04 14:14] ferventcoder commented on #1183
It appears the package there was broken and never fixed so it was rejected by the system.

Follow up with the owner of that myget feed directly. Keep in mind that when you filed this issue there was some info in the template that is meant to help point you in the proper direction instead of mistakenly filing a package issue here. HTH

[2017-03-04 14:25] trajano opened #1184 "Upgrade 7Zip to 16.04"
### What You Are Seeing?
Error extracting files from https://mega.nz/MEGAcmdSetup.exe for the `uninst.exe` and `megacmdclient.exe files.

### What is Expected?
I should be able to use `Install-ChocolateyZipPackage` with no issues.

### How Did You Get This To Happen? (Steps to Reproduce)

[code]

### Output Log
[code]

To fix I think you just need to update the 7Zip to 16.04
https://github.com/cho

[2017-03-04 15:07] maerf commented on #1183
Ok sorry. I find it hard to tell what is a package error or not.

**Here it's clear because it comes from mingw-get.exe:**
2017-03-02 17:50:10,873 [ERROR] - mingw-get.exe: *** ERROR *** C:\tools\mingw64\/bin/windres.exe:
probable package conflict; existing file not overwritten

**But here its not clear to me:**
2017-03-04 13:57:07,080 [ERROR] - Microsoft.PowerShell.Commands.WriteErrorException

[2017-03-04 15:09] ferventcoder commented on #1183
@maerf no worries - typically if you see it with just one package and not others, it's probably an issue with the package.

[2017-03-05 01:38] AdmiringWorm opened #1185 "Allow post/pre hooks to run on upgrade/install/uninstall"
The idea for this have been taken from pacman (the main package manager for arch linux).
One usage example on how it is used in pacman would be running reflector after pacman-mirrorlist package is updated: https://wiki.archlinux.org/index.php/Reflector#Pacman_Hook

What I request is similiar: have a directory (either configurable or hard coded to `$env:ChocolateyInstall\hook` that stores a bunch o

[2017-03-05 02:08] AdmiringWorm commented on #1156
I've seen this a few times now, and finally decided to voice my opinion on this (based on how I see choco as, namely a package manager).

With that said, I'm against such a feature (unless implemented as specified below).
Installing a package is IMO is the responsibility of the user to decide that it is safe enough to run on their system, there could be a number of reasons why a package haven't be

[2017-03-05 11:35] riedel opened #1186 "choco pack accepts pre-release tags in versions but not choco install"
If I create a package with `<version>1.0-rc3</version>`.
choco pack will succeed but choco install will fail to find the package.

I would expect choco pack to fail with `'1.0-rc3' is not a valid version string.`

Instead I get `The package was not found with the source(s) listed.` upon install.

BTW: I failed to find clear guidelines for chocolatey versions and how they potentially differ from nu

[2017-03-05 11:38] riedel commented on #1186
I guess my issue is highly related to #1158 (only that this issue is about the inconsistency in the commands)

[2017-03-05 11:45] gep13 commented on #1186
Can you confirm the installation command you are using?  You will need to include the `--pre` flag, as this will be regarded as a prerelease package.

[2017-03-05 12:47] riedel commented on #1186
thanks so much! I am so stupid: https://github.com/chocolatey/choco/wiki/CreatePackages even mentions this.

This did the job! (I actually tried this at one time but then I already had a fixed version installed) Please close this issue.

[2017-03-05 12:48] #1186 closed

[2017-03-05 17:50] ferventcoder commented on #1186
It's all a learning process - the `--pre` bit trips even us up sometimes.

[2017-03-05 19:22] ferventcoder opened #1187 "Add File64 to Install-ChocolateyInstallPackage and Get-ChocolateyUnzip"
To match parity with https://github.com/chocolatey/chocolatey-coreteampackages/pull/612

[2017-03-05 19:51] AdmiringWorm commented on #1187
I'm thinking this could perhaps also be extended with the same File64 parameter for `Get-ChocolateyUnzip`?

[2017-03-05 19:52] ferventcoder commented on #1187
Probably a good idea.

[2017-03-05 20:13] ferventcoder commented on #1185
Chocolatey does have this concept built-in to it, but it is not consumer based. I think this could be looked at being added as well. Just unsure where this could fall.

[2017-03-07 09:33] metinkale38 opened #1189 "Self mantaining/updating packages"
Hey,

to improve update speed of choco and prevent outdated/not updated packages, i have the following idea:

self updating packages:
instead of only providing installation scripts, url to a specific version etc.. we could add a script, which fetches the project homepage for the latest version, latest executable, changelogs etc..
Since websites of most applications do not change often, the mantain

[2017-03-07 09:36] gep13 commented on #1189
@metinkale38 if I have understood you correctly, this is essentially what we refer to as automatic packages:

https://chocolatey.org/docs/automatic-packages

Currently there are two options, either ketarin or AU.

For example, almost all the packages in the core team packages repo (https://github.com/chocolatey/chocolatey-coreteampackages) use one of these mechanisms to keep the packages that are

[2017-03-07 09:38] metinkale38 commented on #1189
ok, thank you...
after checking how to create a package i thought, this would not be possible...

[2017-03-07 09:38] #1189 closed

[2017-03-07 10:11] gep13 commented on #1189
Going forward, I think the recommendation would be to use AU, as it doesn't require templating of variables, which is required with ketarin.

[2017-03-07 16:10] dcjulian29 opened #1190 "Source Priority Seems to be ignored when dependencies are present"
### What You Are Seeing?
I have a "meta" package (myvm-development) that includes several other packages as dependencies. When I install this package https://gist.github.com/dcjulian29/a3ac471e51d1fa425dea3c2b62b0cb00, the executor package from the chocolatey source is installed. When I install it explicitly https://gist.github.com/dcjulian29/093d69c2ce3ef05df8afa02b8af336dc, it uses my source. My

[2017-03-07 16:36] pyhedgehog commented on #421
Seems fixed.

[2017-03-07 16:36] #421 closed

[2017-03-07 19:17] ferventcoder commented on #1190
@dcjulian29 that's definitely not how it should work. With your meta package, how is the dependency defined? Does it have a version range?

[2017-03-07 22:14] bestknighter opened #1191 "Error 404 when trying to install any package"
### What You Are Seeing?
Every package (and its dependencies) I try to install returns an error 404 several times until randomly installing.

### What is Expected?
Packages being successfully installed without the need to successively trying until it works.

### How Did You Get This To Happen? (Steps to Reproduce)
- Open elevated PowerShell
- Run `Set-ExecutionPolicy AllSigned`
- Run `iwr https://

[2017-03-07 22:19] bestknighter commented on #1191
My windows username has a space in it. Could this be possible it? I just did the same thing in my laptop and, even on the same network, it worked perfectly.

[2017-03-07 22:20] ferventcoder commented on #1191
It could be something with NuGet.Core.

Do you have any debug/verbose logs for the unsuccessful attempts.

[2017-03-08 00:02] bestknighter commented on #1191
Sadly no. But in the attempt linked above (in the gist), the vcredist (cmder dependency) failed to install.

[2017-03-08 02:18] bestknighter commented on #1191
Ok, here is what I got. I uninstalled both chocolatey and NuGet, changed my account username to remove the space (and it took ages, had to spend some time editing the registry), restarted and installed chocolatey again. As soon as I did it, all packages but vcredist2010 (when installing cmder) successfully installed. I had to run `choco install vcredist2010 -y` to actually make it install.

[2017-03-08 02:52] ferventcoder commented on #1191
I'll research but we've seen specific issues with NuGet (which may be resolved in newer versions of NuGet.Core) related to a dot in the path.

For other folks I would recommend setting cacheLocation first to see if it resolves the issue as it overrides TEMP.

[2017-03-08 15:42] hsiktas opened #1192 "Chocolatey stopped working after uninstalling VS 2015 and its secondary installers"
### What You Are Seeing?

I want to update multiple packages but all fail with the same error messages seen in the logs attached below.

### What is Expected?

Updated packages without errors. 🤔

### How Did You Get This To Happen? (Steps to Reproduce)

I wanted to switch from Visual Studio 2015 the new 2017. Before installing 2017 I went to 'Programs and Features' and uninstalled VS 2015 and all

[2017-03-08 16:24] hsiktas commented on #1192
This seems to be related to https://github.com/chocolatey/choco/issues/916 and https://github.com/NuGet/Home/issues/1638.

[2017-03-08 19:21] ferventcoder commented on #1192
Looks like it - the uninstall seems to have messed up your PowerShell settings. Let's close this as a duplicated of #916.

[2017-03-08 19:21] #1192 closed

[2017-03-08 19:24] ferventcoder opened #1193 "Allow Chocolatey version check with FIPS"
There are some configuration management tools that need to check the version of Chocolatey prior to allowing it to set features. This presents an issue when attempting to set FIPS compliance, because any call to choco that isn't enabling the FIPS compliance checksum feature will fail. This should allow a call to find out the version or the default help without errorring.

[2017-03-08 19:24] #1193 closed

[2017-03-08 19:44] dcjulian29 commented on #1190
It doesn't... but my "executor" package has a newer version number...
[code]

[2017-03-08 19:59] hsiktas commented on #916
I did the same but I used the .config file from VS2017 and added pete's lines at line 30.
[choco.exe.config.txt](https://github.com/chocolatey/choco/files/828806/choco.exe.config.txt) (added .txt extension for GitHub attachments)

Chocolatey is now working again. 😎

[2017-03-09 16:19] cmulk opened #1194 "[Feature Request] Respect Installed Package Architecture When Upgrading"
Choco upgrade defaults to installing the package that matches the machine architecture, regardless of the architecture of the previously installed version.

For example, i am on a x64 machine, but I use the x86 version of notepadplusplus since it still has better support. I install it with the command below:
`choco install notepadplusplus.install --x86`

However, when I go to update everything wit

[2017-03-09 21:24] ferventcoder commented on #1194
Howdy, this is coming in 0.10.4. The issue is #797, which would make this a duplicate of that. Feel free to comment or subscribe to that issue. Thanks!

[2017-03-09 21:24] #1194 closed

[2017-03-09 23:56] ferventcoder commented on #1056
This will be in 0.10.4

[2017-03-09 23:56] #1056 closed

[2017-03-09 23:57] ferventcoder commented on #1190
A guesstimation here. Are most of the dependencies on dot org? I wonder if it picks up something from one of the other packages also having a dependency on executor.

Or there is some bug in the resolver where once it has evaluated a secondary source, it uses it for other dependencies as well.

Either way we need to fix it. Thanks for filing that.

[2017-03-10 00:50] ferventcoder commented on #973
Just a note that there is a setting that is `setExplicitly` - if you don't make that change, the configuration will set it back to the default.

[2017-03-10 10:12] baslr opened #1195 "choco install openldap is failing"
### What You Are Seeing?
[code]
`The action needs elevated rights`, I'm logged in as the Administrator. So I don't know how to gain more rights.

### What is Expected?
Installation of `openldap` is done.

### How Did You Get This To Happen? (Steps to Reproduce)
`choco install openldap`

Verbose log:
[code]

[2017-03-10 14:22] air commented on #1048
Same bad experience here. When I follow https://chocolatey.org/install I see how simple it is and I feel great - a one-line install! I expect `choco` to work in my next cmd shell, and instead it falls on the floor.

A quick fix needed right now: after `Installing Chocolatey` add this short section:

*Running Chocolatey*
Since `choco` is an admin tool, it must be run from an admin shell. If you run

[2017-03-10 14:52] ferventcoder commented on #1048
I like this. Not a quick fix per say, but that is how Chocolatey works.

[2017-03-10 19:11] ferventcoder commented on #1195
@baslr this looks like a package issue but I'm unsure. If you were seeing this sort of thing with more packages, that would make it a Chocolatey issue. Since this looks to happen when it runs the installer from the packaging, that typically means it is something with the package that may need resolved.

Did you run this from an elevated process? It's not enough to be an administrator on a machine,

[2017-03-10 19:13] teknowledgist opened #1196 "log4net:WARN Exception on package uninstall"
### What You Are Seeing?
A strange Chocolatey exception message when I uninstall a package:
[code]
_contents of chocolateyUninstall.ps1_
[code]

### What is Expected?
The uninstall doesn't spit back the contents of the `chocolateyuninstall.ps1` file.

### Comments
The log has nothing useful in it -- no errors prior to the warning.  While this does work, it looks ugly.  How do I determine where the

[2017-03-10 19:25] gep13 commented on #1196
Hmm, there seems to be a LOT going on in your uninstall script:

https://chocolatey.org/packages/fastcopy.install#files

What is the low level pinvoke for?  I would be surprised if this makes it through moderation.

@ferventcoder thoughts?

[2017-03-10 20:19] teknowledgist commented on #1196
I'm not sure what you mean by "low level pinvoke", sorry.  I did not write (only
simplified to reduce complexity) the function in the script.  I did include a
reference to the original (uploaded to TechNet by Boe Prox) in the comments.

The reason for the complexity is I am trying to clean up files that are created
by the install, and one of them (a .DLL) may be locked.  I believe I have gone
thro

[2017-03-10 20:27] vinayakmankal commented on #553
If you have used fiddler it messes with the proxy. Try turning fiddler on and running the commands

[2017-03-11 06:25] fsworld009 opened #1197 "[Windows 10] Cannot install chocolatey 'due to old .NET Framework installed' while I have latest one (4.6.2) installed"
### What You Are Seeing?
I'm trying to install chocolatey but keep getting "Unable to set PowerShell to use TLS 1.2 and TLS 1.1 due to old .NET Framework installed" error, but I already have the latest .NET Framework installed.

I'm not using any Proxy or behind any firewall either.

I also tried to download .NET Framework installer from Microsoft site but the installer also said I already have th

[2017-03-11 06:35] fsworld009 commented on #1197
Sorry that I overlooked one alternative option provided in your website, the following one works:

(Run from cmd)
[code]

But I'm still interested in why I was getting those error inside Powershell, thanks.

[2017-03-11 19:32] digitaldrummerj opened #1198 "uninstall order missing from uninstall command doc"
### What You Are Seeing?

I was having issues with my WebStorm package uninstall and did not realize that the chocolateyuninstall.ps1 was run before the auto uninstall feature.  I was looking at the  https://chocolatey.org/docs/commands-uninstall doc and did not see any mention of order.

@ferventcoder pointed out that the order was documented at https://chocolatey.org/docs/getting-started#uninsta

[2017-03-11 21:55] ferventcoder commented on #1198
Thanks for logging this @digitaldrummerj - I changed the subject to include for all actions (install, upgrade, and uninstall).

[2017-03-11 22:03] ferventcoder commented on #1156
To be fair - working with native installers already suggests that choco is more than just a package manager. Portables and runtime software in the package are "true" packages, but let's be honest, if choco was restricted to just that it would not have garnered the popularity it currently has.

It trends more into software management, which encapsulates package management in addition to other featu

[2017-03-12 10:22] superbonaci opened #1199 "Save torrent of selected item"
I would like an option to save the current torrent of the selected download (if the download was started from magnet check for if torrent is already downloaded).

[2017-03-13 05:03] ferventcoder commented on #1197
It's not Windows 10 - you are using an alpha version of PowerShell v6, and it doesn't have what it needs to install Chocolatey.

Please run from a released version of PowerShell. HTH

[2017-03-13 05:03] #1197 closed

[2017-03-13 05:06] ferventcoder commented on #1197
PowerShell v6 at this point prolly shouldn't be used outside of experimenting to see what works and doesn't work. I would not call it production ready. If it has been released and you are seeing this, then we have an issue to address. HTH

[2017-03-13 07:25] ferventcoder commented on #1199
Not following.

[2017-03-13 10:06] superbonaci commented on #1199
Copy the magnet link of a download to the clipboard or save the torrent to the desktop.

[2017-03-13 10:25] gep13 commented on #1199
Copy the magnet link of a download to the clipboard or save the torrent to the desktop.

I am not sure if that helps with the question that @ferventcoder was asking.  What does this issue have to do with chocolatey?  Chocolatey doesn't use torrents?

[2017-03-13 12:45] teknowledgist commented on #1042
Throwing my $.02 in here...

This is not a run-as-system problem.  For whatever reason, `Join-Path` won't accept the special environment variables as a direct argument (i.e. not in ()).  The same is true for split-path, but the error is different:
[code]
At least it should be an easy fix.

[2017-03-13 20:13] ferventcoder commented on #1042
@teknowledgist yes, and it's already completed. #1045.

[2017-03-13 20:24] dcjulian29 commented on #1190
It is a mixture... most of the "my" packages are from my source where the others are from the community source.

[2017-03-13 20:39] ferventcoder opened #1200 "Load built-in Chocolatey functions, then load extensions"
There appears to be a bug in loading that doesn't make it very deterministic in not loading a function if it is already loaded by newer versions of Chocolatey.

[2017-03-13 21:09] ferventcoder commented on #1199
I think I might understand. Have something that copies the download link?

[2017-03-13 21:09] ferventcoder commented on #1199
If that is what you are looking for, please file a request over at https://github.com/chocolatey/chocolatey.org/issues/new. Thanks!

[2017-03-13 21:09] #1199 closed

[2017-03-14 00:47] bbowman opened #1201 "Install-ChocolateyVsixPackage.ps1 Doesnt work with 2017 packages"
Please follow https://blogs.msdn.microsoft.com/heaths/2016/09/15/changes-to-visual-studio-15-setup/ to find VS installs now.

[2017-03-14 00:51] ferventcoder commented on #1201
@bbowman can you provide more context? What needs to change? Is it simply an issue like #1056? That is being fixed for 0.10.4.

[2017-03-14 00:55] bbowman commented on #1201
The install dir for Visual Studio 2017 is no longer discoverable from the registry and instead you need to make a few COM calls to the setup engine to query it for installs. Thus the logic to find a valid VSIXInstaller.exe to use for the install in Install-ChocolateyVsixPackage.ps1 will need to be changed for 2017 installs.

[2017-03-14 01:19] gep13 commented on #1201
@bbowman you can use the vswhere.exe to find the installation path.

[2017-03-14 02:43] ferventcoder opened #1202 "commandExecutionTimeout of zero means never time out"
Allow setting to zero as a way of saying do not time out. This goes along with #1059.

[2017-03-14 08:52] gep13 commented on #1201
vswhere is actually available as a Chocolatey Package: https://chocolatey.org/packages/vswhere

[2017-03-14 13:01] ferventcoder commented on #1059
Okay, figured out exactly what causes this.

As a workaround, set the toplevel commandExecutionTimeoutSeconds to any number but 0 and then set `choco config set commandExecutionTimeoutSeconds ##` as normal.

[2017-03-14 13:10] ferventcoder commented on #1059
updated above comment.

[2017-03-14 13:14] ferventcoder commented on #973
See https://github.com/chocolatey/choco/issues/1059#issuecomment-286413709 for why and the workaround.

[2017-03-14 18:10] bbowman commented on #1201
@ferventcoder @gep13 Thanks guys! I coded up a small workaround for our package at https://github.com/Microsoft/WinObjC/pull/2233 ... I still think this is a good candidate to get into 0.10.5

I also saw that there are a few more error states for blocked process that makes an unattended / silent install challenging. I'd love to see some ideas on how to handle that.

[2017-03-14 18:36] ivanatpr commented on #797
When this is implemented, there should also be some easy way of exposing the current remembered arguments to the user. Personally I'd prefer if it was made part of the regular non-verbose output of `list -l` and `upgrade -noop`

Instead of:

You could have something like:

[2017-03-14 22:26] ferventcoder commented on #797
@ivanatpr may not be a bad idea to go ahead and file a followup ticket for that as it likely won't be handled for this upcoming release.

[2017-03-14 22:32] ferventcoder commented on #1201
#725?

[2017-03-15 16:24] lslayer commented on #1048
Here is simplest workaround:
Give full access rights for yourmachine\Users to folder ‪C:\ProgramData\Chocolatey

[2017-03-15 23:39] #1059 closed

[2017-03-15 23:46] ferventcoder commented on #1042
Closed with https://github.com/chocolatey/choco/commit/3571604e19bfbd9d37b8830f6fd568c82a59dbe3

[2017-03-15 23:46] #1042 closed

[2017-03-16 08:04] ajayshikhare commented on #1059
Hey Rob,
It Works!. looking forward to upgrade 0.10.4.

A BIG ThankYou..

[2017-03-17 03:44] delurker opened #1203 "PowerShell sees authenticode hash as changed in scripts that were signed with Unix Line Endings (`LF`) - unable to use `AllSigned`"
### What You Are Seeing?
Lots of security hash errors when I Install Chocolatey
"because the hash of the file does not match the hash stored in the digital signature"
Fresh install.  Chocolatey installs but is not fully functional.

### What is Expected?
A fresh functional Chocolatey

### How Did You Get This To Happen? (Steps to Reproduce)
Install as per Website:
Admin Powershell.  ExecutionPolic

[2017-03-17 16:26] StefanScherer commented on #1201
Finally found this issue after trying to spin up a new Vagrant box with

[code]

So installing and running vswhere shows me

[code]

The registry has these entries

[code]

The VsixInstaller.exe can be found in `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE`

[2017-03-17 16:36] bbowman commented on #1201
@ferventcoder #725 is different. The scenario in this case is that the user has visual studio running when trying to install a 2017 VSIX. When not running the installer in quiet mode, the GUI shows that the running instance of VS is blocking the install and the installer waits until the user closes this otherwise unrelated process. The unattended installer just hangs for ~5 minutes and then return

[2017-03-17 18:22] ferventcoder commented on #1203
You know, I wonder if this has something to do with packing and unpacking the file. Since it is packaged as a nupkg, when it is unpacked with Choco / NuGet, it probably does something additional during decompression that maybe just simply running 7zip does not (which is done with first install). Give me a little more time to dive in on this.

[2017-03-17 19:03] ferventcoder commented on #1201
@bbowman is this new? I always thought I could install VSIXs with Visual Studio running before. If this is new, wouldn't you agree that this is kind of suboptimal and it (VSIX installer) should allow the install to move forward but just not load it into the currently running Visual Studio?

[2017-03-17 19:05] ferventcoder commented on #1201
Taking Chocolatey out of the equation for a moment and just talking about silent installation.

What options are available here?

[2017-03-17 19:12] bbowman commented on #1201
@ferventcoder Yes this is new. Visual Studio changed their extension model for 2017 (@heaths can probably shed some light here or knows who can?). I would agree that the silent installation option doesn't seem as robust in the model. I also know that VS2017 update 1 is coming soon so maybe there are improvements we can expect there?

In terms of options for silent installation in general:

1.  we

[2017-03-17 19:29] ferventcoder commented on #1201
Another option here:

4. Fix the limitation and allow for the install to happen silently even if there are running instances of Visual Studio, then load the new extensions at the next restart of Visual Studio. (the same as the old behavior, which makes this a regression aka a bug in it's current state).

In a pinch, option 3 could be used. However even that option still needs a timeout as otherwis

[2017-03-17 19:30] ferventcoder commented on #1201
updated wording in last comment.

[2017-03-17 19:31] ferventcoder commented on #1201
Where does the VS team congregate these days? Where can we file issues?

[2017-03-17 19:38] gep13 commented on #1201
This is probably as good a place to start as any...

https://gitter.im/Microsoft/extendvs

Lots of VS Development Team people's in there.

[2017-03-17 19:40] bbowman commented on #1201
Also https://github.com/Microsoft/vsixbootstrapper seems like it might be useful for this discussion.

[2017-03-17 19:48] ferventcoder commented on #1203
I'm seeing this same issue - currently not yet sure exactly what is causing it. It shows the signature valid when you run Get-AuthenticodeSignature, but for some reason it sees the file as changed. I wonder if there is some limitation in file format.

[2017-03-17 19:52] ferventcoder commented on #1203
@delurker Okay, I see the problem. It's a bug in PowerShell. The line endings are mixed when the file gets signed. If the PowerShell file had `LF` line endings like the ones showing issues, it errors saying the hash changed. If the file had `CRLF` line endings prior to signature, all is well.

![image](https://cloud.githubusercontent.com/assets/63502/24060470/5a1e2822-0b21-11e7-8d92-7e6afb7f21a9.p

[2017-03-17 20:20] ferventcoder commented on #1203
@delurker I filed https://github.com/PowerShell/PowerShell/issues/3361 after asking the PowerShell folks about this issue.

[2017-03-17 20:22] ferventcoder commented on #1203
@delurker we are able to move it all over to CRLF, so I will make that adjustment for 0.10.4.

[2017-03-17 21:01] ferventcoder commented on #1203
@delurker can I ask what version of POSH you are running?

[2017-03-17 21:43] #1202 closed

[2017-03-17 22:20] delurker commented on #1203
@ferventcoder
[code]

[2017-03-17 22:20] #676 closed

[2017-03-18 03:46] brunoyb commented on #1015
Another related issue with that line is that it compares what I want to add with $env:Path always expanded, which means it will always add to the Path again if I'm actually trying to add something that is not expanded (e.g. '%ProgramFiles%\example'). It seems this is already covered by the PR, but I thought it would be nice to keep it documented here (I was searching for an issue and found that th

[2017-03-18 04:25] ferventcoder commented on #1184
@trajano you making a portable and an installer version of this? I ran Package Builder on this and it generated it as an NSIS

[2017-03-18 04:27] ferventcoder commented on #1184
![image](https://cloud.githubusercontent.com/assets/63502/24068945/4fb8c5b6-0b69-11e7-8f4f-00243ed420f0.png)

[2017-03-18 04:28] ferventcoder commented on #1184
![image](https://cloud.githubusercontent.com/assets/63502/24068947/5e4de61a-0b69-11e7-8bb6-b523aefda4aa.png)

[2017-03-18 04:34] ferventcoder commented on #1184
And by Package Builder, I literally mean `choco new --url https://mega.nz/MEGAcmdSetup.exe --build-package` and within seconds I had a package.

![image](https://cloud.githubusercontent.com/assets/63502/24068977/314fbfd4-0b6a-11e7-931b-83ed8545ed85.png)

[2017-03-18 04:38] ferventcoder commented on #1184
Ah uninstaller is not completely silent. Fun...

[2017-03-18 04:45] ferventcoder commented on #1184
Verified failure. Verified fix with latest 7z. This will be released in 0.10.4. Thanks for logging the issue!

[2017-03-18 04:45] #1184 closed

[2017-03-18 04:55] ferventcoder commented on #454
This will require changes made in 0.10.4 but will be in licensed editions starting at 1.10.0.

[2017-03-18 04:55] #454 closed

[2017-03-18 13:50] ferventcoder commented on #1203
@delurker Thanks! Just wanted to validate it is an issue across all versions of PowerShell.

[2017-03-18 14:57] ferventcoder commented on #1158
This is not NuGet. This uses NuGet.Core framework, but that doesn't mean it has some of the newest stuff yet. Perhaps we should better document this somewhere.

I'm going to tag this as related to https://github.com/chocolatey/choco/issues/508, as moving foward should resolve this issue.

[2017-03-18 16:35] #815 closed

[2017-03-18 16:55] #1043 closed

[2017-03-18 17:10] trajano commented on #1184
What's the ETA for 0.10.4?  I'll make the change to the package later.

[2017-03-18 17:14] ferventcoder commented on #1184
@trajano to save on retyping, take a look at https://github.com/chocolatey/choco/pull/1023#issuecomment-287551113
HTH

[2017-03-19 04:38] #902 closed

[2017-03-19 04:42] ferventcoder commented on #902
Completed for 0.10.4.

[2017-03-19 09:47] ferventcoder commented on #1171
Great idea. However it's likely in the first interim to attempt to push all. There is no behavior built in for it to check to see if it exists first, so that would be a future behavior addition.

[2017-03-19 09:49] ferventcoder commented on #1002
#1153 is related.

[2017-03-19 09:56] ferventcoder commented on #657
I think we can safely close this as fixed by #198

[2017-03-19 09:56] #657 closed

[2017-03-19 10:03] ferventcoder commented on #1036
I like this.

This is untrue. Only persistent env vars would pollute other processes. You still need a way to store state.

[2017-03-19 11:13] ferventcoder commented on #1066
I like this, however it requires first knowing locally where the package came from.

[2017-03-19 15:33] #1151 closed

[2017-03-19 17:18] ferventcoder commented on #686
So this feature will go into 0.10.4 like this - if you have prereleases installed it will upgrade them without needing to explicitly specify prerelease. This will allow everything to upgrade automatically. When it is a prerelease and the latest version is pre or stable, that is what it will upgrade to.

When you want the old behavior, just add `--exclude-prerelease`. I've tagged this with breaking

[2017-03-19 17:27] ferventcoder commented on #686
This will be in 0.10.4

[2017-03-19 17:27] #686 closed

[2017-03-19 17:30] ferventcoder commented on #1151
Completed for 0.10.4.

[2017-03-19 17:34] ferventcoder commented on #1061
@bcurran3 The choice options have more context in them. I wonder if they just don't show up.

[2017-03-19 17:36] ferventcoder commented on #1061
Added more to the output. Expect this in Licensed edition 1.9.7

[2017-03-19 17:36] #1061 closed

[2017-03-19 17:55] ferventcoder commented on #1039
Related to https://github.com/chocolatey/choco/issues/1167.

Fixed for 0.10.4

[2017-03-19 17:55] #1039 closed

[2017-03-19 17:58] ferventcoder commented on #1187
This will be in 0.10.4

[2017-03-19 17:58] #1187 closed

[2017-03-19 18:18] ferventcoder commented on #1098
Merged into stable at https://github.com/chocolatey/choco/commit/e1e3865f60a062a3b20483e1bf64079008400f11

[2017-03-19 18:20] ferventcoder commented on #1098
This will be included in 0.10.4

[2017-03-19 18:20] #1098 closed

[2017-03-19 18:22] ferventcoder commented on #1120
Output testing is more...interesting. HA!

We may need to target this to 0.10.5 to allow for review.

[2017-03-19 18:28] #1099 closed

[2017-03-19 18:38] #473 closed

[2017-03-19 18:39] ferventcoder commented on #473
This will be released with 0.10.4

[2017-03-19 22:35] superbonaci commented on #1199
Sorry posted in wrong project.

[2017-03-19 23:43] eeevans commented on #686
Awesome, thanks!
On Sun, Mar 19, 2017 at 12:28 PM Rob Reynolds <notifications@github.com>
wrote:

[2017-03-21 15:37] ferventcoder opened #1205 "List include programs should not show items from Package Synchronizer's Programs and Features Package Sync"

[2017-03-21 15:37] #1205 closed

[2017-03-21 22:05] ferventcoder commented on #1139
This is maybe on install with a previous backup folder already in place that is locked.

[2017-03-21 22:06] ferventcoder commented on #1139
@rstrahl ^^ it looks like we don't fail on the failure to remove the backup directory. It could be there is an issue during upgrade.

[2017-03-21 22:10] ferventcoder commented on #1139
Okay, forgive me and my ability to read. However during uninstall it calls that same set of code. Next time you run into this, can you provide the full log so that we can more easily pinpoint where this occurs? Thanks!

[2017-03-21 23:55] #942 closed

[2017-03-22 00:27] ferventcoder commented on #1018
Completed for 0.10.4

[2017-03-22 00:27] #1018 closed

[2017-03-22 00:28] ferventcoder commented on #1016
With the partial handling on this, I don't feel comfortable providing a fix for this without more testing time. Bumping to next release.

[2017-03-22 00:34] #1106 closed

[2017-03-22 00:35] ferventcoder commented on #1106
Completed for 0.10.4

[2017-03-22 00:36] ferventcoder commented on #497
Pretty sure this is covered by #1165. Closing as fixed for 0.10.4.

[2017-03-22 00:36] #497 closed

[2017-03-22 00:40] ferventcoder commented on #523
This is completed for 0.10.4

[2017-03-22 00:40] #523 closed

[2017-03-22 00:48] ferventcoder commented on #906
Fixed for 0.10.4

[2017-03-22 00:48] #906 closed

[2017-03-22 04:56] ferventcoder opened #1206 "Conditionally overwrite the app manifest on upgrades of Chocolatey"
Following up #1054, determine how not to overwrite the app manifest if a user has made changes to it.

[2017-03-22 05:02] ferventcoder commented on #1054
Okay found a way. We really need the behavior for most folks to ask that they run with the highest privileges they have. It will also help reduce support tickets and otherwise.

However a good compromise is externalizing the app manifest that Chocolatey uses so that you can decide what to change it to yourself. Also added a lot of documentation here to help folks make the best decision. However th

[2017-03-22 05:02] #1054 closed

[2017-03-22 07:30] jberezanski commented on #1054
It's a reasonable compromise. Hopefully one day Choco will get smart enough to ask for elevation only for actions which require it.

[2017-03-22 12:35] ferventcoder commented on #1206
This is open for discussion.

[2017-03-22 12:37] ferventcoder commented on #1054
There are some really complex ways to handle this now, and none of them seem beneficial for the amount of work required to do so (think git model, where every action is its own binary).

[2017-03-22 17:03] ferventcoder commented on #1040
I ran this with the latest beta and was not able to get it to occur. I am going to move this to next release and mark it back for triage.

[2017-03-22 17:33] ferventcoder commented on #1200
This is fixed for 0.10.4.

[2017-03-22 17:33] #1200 closed

[2017-03-22 17:57] AdmiringWorm commented on #1040
@ferventcoder I don't suppose it would be possible to provide a beta release of choco?
I'm thinking this could have been solved in a previous commit, as I couldn't get it to occur either when building from the master branch previously (although I had to reuse my locally installed nuget cli, as I couldn't get the provided one to work correctly with restoring dev dependencies).

[2017-03-22 17:58] ferventcoder commented on #1203
This is fixed for 0.10.4

[2017-03-22 17:58] #1203 closed

[2017-03-22 17:59] AdmiringWorm commented on #1206
storing a small text file with the hash of the manifest file when installed?
If it have changed, don't overwrite it?
Just thinking out loud.

[2017-03-22 17:59] ferventcoder commented on #1203
@delurker thanks for reporting that issue. Not only will that help Chocolatey, but it looks like the PowerShell folks are looking to fix the behavior as well!

[2017-03-22 18:08] AdmiringWorm commented on #1156
True, never though about it that way. Mostly because of how the windows ecosystem is.

[2017-03-23 00:18] ferventcoder commented on #1195
@baslr Did you get a chance to review my questions?

[2017-03-23 00:20] ferventcoder commented on #1163
You can pass `-FileType $null`

[2017-03-23 01:09] ferventcoder commented on #1047
Fixed for 0.10.4

[2017-03-23 01:09] #1047 closed

[2017-03-23 09:40] gep13 commented on #1139
@ferventcoder think you might have been wanting @RickStrahl 😄

[2017-03-23 13:50] Boyan-Kostadinov opened #1207 "Updated output for HelpersGetChocolateyUnzip documentation"
### What You Are Seeing?
The function "Unzips an archive file and returns the location for further processing." but the text under the "Outputs" heading says "None."

### What is Expected?
Output should say something like "Returns the location for further processing."

[2017-03-23 14:07] ferventcoder commented on #1207
I'm not sure this needs it? https://github.com/chocolatey/choco/commit/20130bee7465987de6e2d656ebda461d92e0ddec

[2017-03-23 14:08] ferventcoder commented on #1207
Perhaps it is a failure in the parser?

[2017-03-23 14:17] Boyan-Kostadinov commented on #1207
I guess it's the parsing then.

[2017-03-23 14:17] ferventcoder commented on #1207
@Boyan-Kostadinov if you want to give it a go, check out https://github.com/chocolatey/choco/blob/eec3fd6d85801128202f7250f4628d213828bd48/GenerateDocs.ps1#L312-L318

[2017-03-23 20:48] ferventcoder commented on #1206
If we've changed it for the next release, how do we know if we are looking at the old version or someone's local changes?

What happens if we make necessary changes to the file and the user has also made changes in the same spot?

There are just two questions.

[2017-03-23 21:05] ferventcoder commented on #1139
Yes...my bad

[2017-03-23 21:14] ferventcoder commented on #797
@ivanatpr were you going to create a follow up ticket for that?

[2017-03-24 16:45] ferventcoder commented on #797
Okay, this is going into 0.10.4, but as an opt in while we work out additional kinks.

Also, from now on the entire set of values in the arguments will be encrypted.

[2017-03-24 16:46] ferventcoder commented on #797
I will update the issue at the top to explain how to turn it on.

[2017-03-24 18:31] ferventcoder commented on #797
Issue updated with all of the current known issues and information. If you are interested in this feature, I suggest reading over the notes.

[2017-03-24 18:31] #797 closed

[2017-03-25 12:24] hasanzadegan commented on #1048
Hi this seems the problem created because access writes,
give full access to ‪C:\ProgramData\Chocolatey for current user

it is work

[2017-03-25 12:26] air commented on #1048
If the website was in the repo I'd make a PR now.

[2017-03-25 13:53] ferventcoder commented on #1048
@air the website does have a repo, but docs are in a different location.

However, I think you are going to see with 0.10.4 this is unnecessary. It won't run by default unless you are running under elevated context. And we've made some changes to how that file gets written.

[2017-03-25 16:10] ferventcoder commented on #1040
@AdmiringWorm there is a beta out now. However it is incompatible with the licensed edition. Something to keep in mind. Working on a fix for this and will provide notice to all customers related to this.

[2017-03-25 17:21] ferventcoder opened #1208 "Automatic uninstaller should split by quotes when necessary"
If an uninstall registry key is set based on the exe and then another quoted value, the autouninstaller was not properly splitting that up. It should split that out as well.

[2017-03-25 17:21] #1208 closed

[2017-03-27 04:07] AdmiringWorm commented on #1040
I just tried with the latest available beta, and it is still happening for me.
I tested with version 5.5.9.20160928 of innosetup.

[2017-03-27 13:59] zech commented on #1130
In my current setup this issue only appears with the package nodejs.install. It's a company laptop behind a proxy. This is the output with -dv:
[code]
The URL `http://chocolatey.org/api/v2/package/nodejs.install/7.7.4` results in a bad request. As soon as I change the URL to HTTPS the package gets downloaded (in the browser)

My config has the following source entry:

[code]

No explicit proxy set

[2017-03-27 17:18] ferventcoder commented on #1130
Okay, weird that it flips it over to http instead of https.

[2017-03-27 17:20] ferventcoder commented on #1130
This makes it seem like the issue actually lies over in https://github.com/chocolatey/chocolatey.org/issues - at least what you found @zech

[2017-03-27 19:55] zech commented on #1130
I don't know if i get this. I used the command `choco upgrade all -y` or `choco install nodejs -y` to install it in the first place.

i searched the issue to make sure this is not already solved or my mistake and found this open issue. the best relating issue i can find in your linked list is this one here https://github.com/chocolatey/chocolatey.org/issues/324

but it doesn't help much as well. d

[2017-03-27 21:06] ferventcoder commented on #1130
Both of these issues could actually be issues with the community repository (a package source, but not the only packaging source available when it comes to Chocolatey) and not the choco.exe client. Since it is discovering the url from the community package repository (https://chocolatey.org/api/v2), it appears to be getting the wrong url (HTTP instead of HTTPS).

Does that make more sense?

[2017-03-28 04:45] ferventcoder opened #1209 "Add Chocolatey Software to copyright"

[2017-03-28 04:45] #1209 closed

[2017-03-28 08:04] zech commented on #1130
Thanks, now I understand. So would you recommend to open a new issue there?

[2017-03-28 14:12] mwrock opened #1210 "[API] Chocolatey file cache adds a 'chocolatey' directory on each install"
Note that this only occurs when using the `chocolatey.dll` and installing multiple packages in a single process. Choco creates the `CacheLocation` by appending a `chocolatey` directory to the `TEMP` environment variable (https://github.com/chocolatey/choco/blob/master/src/chocolatey/infrastructure.app/builders/ConfigurationBuilder.cs#L198). Then later it sets the `PATH` environment variable from t

[2017-03-28 15:16] ferventcoder commented on #1210
Let's get this fixed in 0.10.4.

[2017-03-28 17:33] ferventcoder commented on #1210
This will be in 0.10.4

[2017-03-28 17:33] #1210 closed

[2017-03-28 22:38] ferventcoder opened #1212 "Passing Allow Downgrade To Upgrade against a prerelease may downgrade it to last stable version"

[2017-03-28 22:38] #1212 closed

[2017-03-28 22:46] ferventcoder opened #1213 "Ensure that config changes list_run makes are reversed"
When running `NuGetService.list_run` it makes changes to configuration items for a local only type of source. However it is not a good steward and doesn't set that configuration back. That can lead to undesirable results. Ensure that it puts the config back the way it received it.

[2017-03-28 22:46] #1213 closed

[2017-03-28 22:49] ferventcoder commented on #1213
This was originally changed with #223.

[2017-03-28 22:56] ferventcoder commented on #1212
Marking as breaking change - someone may be depending on this functionality, even though it is a bug.

[2017-03-28 23:01] ferventcoder opened #1214 "Sign Binaries / Authenticode Signatures with Chocolatey Software digital certificate"

[2017-03-28 23:01] #1214 closed

[2017-03-28 23:02] ferventcoder commented on #1214
This was mostly done externally without much in the matter of code changes. Related to #1209

[2017-03-29 00:59] flcdrg opened #1215 "Upgrading package causes dependant package installers to be run (and fail)"
### What You Are Seeing?

Upgrading the resharper-platform package seems to trigger running the install scripts for all packages that depend on resharper-platform (eg. dotmemory, resharper, dotcover etc) before resharper-platform has actually downloaded

### What is Expected?

Upgrading resharper-platform should not fire install script for other packages that depend on it.

resharper-platform is j

[2017-03-29 01:01] flcdrg commented on #1215
The title is a bit of a tongue twister 😃

[2017-03-29 01:11] ferventcoder commented on #1215
It depends on how those dependencies are defined.

[2017-03-29 01:16] flcdrg commented on #1215
Just double checked and:

[resharper-platform](https://chocolatey.org/packages/resharper-platform) has no dependencies

- [resharper](https://chocolatey.org/packages/resharper) depends on resharper-platform
- [dotpeek](https://chocolatey.org/packages/dotpeek) depends on resharper-platform
- [dotcover](https://chocolatey.org/packages/dotcover) depends on resharper-platform
- [dotmemory](https://cho

[2017-03-29 01:19] ferventcoder commented on #1215
This is possibly expected - https://chocolatey.org/packages/resharper has an exact version dependency so the graph is looking for a version of resharper (and others) that meet the dependency needs, thus causing the upgrades.

Outside of Chocolatey, when you upgrade ReSharper, should the platform be upgraded? And vice versa?

[2017-03-29 01:21] ferventcoder commented on #1215
It does sound like the order is backwards though for the upgrade

[2017-03-29 01:22] flcdrg commented on #1215
So 'resharper-platform' is just a way for them to pull down the installer .exe once, as JetBrains bundle all the products in one installer. All the other packages just contain scripts that call that .exe with specific arguments. If you didn't use Chocolatey, then you'd download the .exe and choose which products to install.

[2017-03-29 01:24] flcdrg commented on #1215
Yeah, the order is funny. The problem seems to be that the download doesn't actually happen until all the top-level package installers have run (and failed because the .exe isn't there yet)

[2017-03-29 01:25] flcdrg commented on #1215
There's also issues with the JetBrains packages not actually properly upgrading the installed software, but I think that's unrelated. I'll chase up JetBrains on that one.

[2017-03-29 01:31] ferventcoder commented on #1215
Probably need to research this one a bit more - it's definitely not the way it should work.

[2017-03-29 10:40] lukemgriffith opened #1216 "Unable to choco install from smb share."
### What You Are Seeing?
Attempting to run Choco Install, from a mapped share, or cygwin drive fails with invalid directory name

### What is Expected?
Package to install

### How Did You Get This To Happen? (Steps to Reproduce)

Mount a SMB Share

Set-Location to share

Choco Install <Package>

### Output Log

# Note H:\ is a powershell drive mapped to a SMB share.

[10:14:45][+0] H:\
 ? choco in

[2017-03-29 11:41] ferventcoder commented on #1216
@lukemgriffith can I get you to try something for me? If you remove the license file does it work or still fail?

[2017-03-29 13:38] lukemgriffith commented on #1216
I moved the license file to .old, and still had the same problem - Cygwin and PowerShell sitting in a unc path comes back with 'directory name is invalid'

[2017-03-29 13:53] ferventcoder commented on #1216
I will take a deeper look in a bit. Thanks for filing this issue

[2017-03-29 22:33] Zedonboy commented on #1097
@ferventcoder i have not figured it yet

[2017-03-29 23:23] Zedonboy commented on #553
Wait this is getting serious.......i have no idea the proxy i should use?

[2017-03-29 23:36] Zedonboy opened #1217 "Package not found"
### What You Are Seeing?
[code]

### What is Expected?
Of course to install this frustrating piece of shit, chocolately

### How Did You Get This To Happen? (Steps to Reproduce)
I have tried adding proxies like chocolateproxy.eu

### Output Log

GIST LINK - Please create a gist and link to that gist here

OR

[code]

[2017-03-29 23:52] ferventcoder commented on #262
This is now fixed for 0.10.4

[2017-03-29 23:52] #262 closed

[2017-03-30 00:01] luferogo commented on #1203
When do you expect version 0.10.4 would be deployed with https://chocolatey.org/install.ps1 ??  I just tried to install and got the issue mentioned... Thanks!

[2017-03-30 00:08] Zedonboy commented on #698
@dardar4 what did you do?

[2017-03-30 00:14] Zedonboy commented on #698
Everyone is saying proxy this, proxy that no one is mentioning what proxy he used and how he used it.....................this is insanity, a software does a the same issue with different versions. from 2013 to 2017 and you guy havent solved this issue properly or create a better version........... npm dont have this kind of issues. i just this crap for just ReactJS's python2 thats all.......keep o

[2017-03-30 00:19] ferventcoder commented on #1203
Soon...

[2017-03-30 00:23] ferventcoder commented on #1203
@luferogo to give you a better answer, we just closed the final known issue for the milestone about 30 minutes ago - https://github.com/chocolatey/choco/issues?q=is%3Aopen+is%3Aissue+milestone%3A0.10.4

You can always get a sense of when a release will occur by going to issues, clicking on Milestones, and selecting the milestone you are interested in. HTH

[2017-03-30 02:57] ferventcoder commented on #1195
Hi @baslr - if you find this is an issue with Chocolatey and not with the package itself, feel free to provide more context. Closing this as a package issue for now. HTH

[2017-03-30 02:57] #1195 closed

[2017-03-30 03:00] ferventcoder commented on #1217
Apologies, your comments violate etiquette rules. If you are frustrated with something, please provide some context. However currently this statement is not acceptable.

[2017-03-30 03:00] #1217 closed

[2017-03-30 03:03] ferventcoder commented on #698
@Zedonboy perhaps you should find a better outlet to vent your frustration. Also, 0.10.4 has some better support for proxies.

[2017-03-30 04:40] Zedonboy commented on #698
fine am a dummy. just show me step by step
i have browsed on free available proxies e.g one in cananda
used this command
 choco config set proxy  http://47.89.41.164:80
and typed
choco upgrade chocolately
error 400 Bad request
then change it to
http://localhost:8888
error package cannot be found
used a proxy ip adress with https
error: The ServicePointManager does not support proxies with the http

[2017-03-30 05:53] bbowman commented on #1158
+1 here. We are using GitVersion for our versions as well and ran into this. @ferventcoder I think this is why I hit the bad gateway error today (running choco push manually complains about the version string).

[2017-03-30 07:27] ferventcoder commented on #1158
@bbowman thanks for logging this.

[2017-03-30 11:02] marcinbojko opened #1218 "Extra '|' in choco sources -r in 0.10.4"
### What You Are Seeing?
$ choco sources list -r
chocolatey|https://chocolatey.org/api/v2/|False|||0|False|False
scalepoint|https://www.myget.org/F/public-choco|False|||10|False|False
sp2|https://www.myget.org/F/scalepoint|False|||10|False|False

### What is Expected?
$ choco sources list -r
chocolatey|https://chocolatey.org/api/v2/|False|0|False|False
scalepoint|https://www.myget.org/F/public-cho

[2017-03-30 11:56] petemounce opened #1219 "Install-ChocolateyZipPackage defaults to md5 for 64-bit install when -checksumtype is not specified but -checksum64type is"
### What You Are Seeing?

`choco install bazel` fails with a hashes-don't-match error (see log).

#### Theories?

chocolatey is calculating an `md5` of the downloaded package rather than using the specified `sha256`.

Excerpt from chocolateyinstall.ps1 for 0.4.5:
[code]

Problem did not exist in 0.4.4:

[code]

#### Any workarounds?

👍 I changed my package so that it passes the `-checksumtype` par

[2017-03-30 13:54] tek0011 opened #1220 "Start-ChocolateyProcessAsAdmin.ps1 ERROR"
### What You Are Seeing?
On 0.10.4 I am getting back a try/catch error.  I have a gist of it working in 0.10.3 and failing in 0.10.4.  Currently this is for the tomcat module.  I haven't checked or seen issues in other modules yet.

[gist](https://gist.github.com/tek0011/2684b6252f3dd95d89e44678faa9be67)

### What is Expected?
No errors.

### How Did You Get This To Happen? (Steps to Reproduce)
Ou

[2017-03-30 13:59] skyguy94 commented on #1220
Its related to this change: https://github.com/chocolatey/choco/commit/e208ca2a6eaf26ee316b32c64aff4105427394c8#diff-208a9466943493065fc7c68d8479cdccR118

I'm calling Start-ChocolateyProcessAsAdmin like this:
[code]

and I'm getting the error:
[code]

I'm not sure why the change is causing it to fail, but I do think the push-location should be part of the Start- call's arguments so I'm making that

[2017-03-30 14:52] ferventcoder commented on #1218
Yes there is.

[2017-03-30 14:57] ferventcoder commented on #1218
Thanks for reporting this. Will have a quick turnaround on 0.10.5 due to another high priority issue.

[2017-03-30 15:10] ferventcoder commented on #1220
@skyguy94 I think your script has a possible bug in it. We always say full paths to files. Always.

Before we started up PowerShell from the location of the script, which may have allowed it to work properly.

However this bug seems to be depended on, so we need to fix it.

[2017-03-30 15:24] skyguy94 commented on #1220
That could be, I'll fix it up to specify the full path, but I'm seeing the issue in a new provisioned server with chef too:
[code]

[2017-03-30 15:28] skyguy94 commented on #1220
I think its more of an issue with the `try...catch` and the call `&` operator. This test fails too:

[code]

[2017-03-30 15:32] AdmiringWorm opened #1221 "Install-ChocolateyPackage"
### What You Are Seeing?
Choco tries to redirect http to https when the https version just redirects back to http.
This messes up downloads that needs to set the Referer header (since it clears the referer header on downgrades).

### What is Expected?
Choco to not redirect to https when it only redirects back to http.

### How Did You Get This To Happen? (Steps to Reproduce)
Tried updating the nli

[2017-03-30 15:32] marcinbojko commented on #1218
Thank you @ferventcoder you gave me a push to rework my pipe filtering ;)

[2017-03-30 15:35] ferventcoder commented on #1221
This seems like an issue on nlite's end?

[2017-03-30 15:41] ferventcoder commented on #1220
I'm seeing that as well. We are working to turn around 0.10.5 to get this fixed ASAP.

[2017-03-30 15:43] AdmiringWorm commented on #1221
yes and no IMO.
nlite website doesn't really support https it just redirects it back to http (reason unknown though).
But I do think choco should still handle such a redirection by not using the https version of the url.

[2017-03-30 15:45] AdmiringWorm commented on #1221
The reason the referer header is lost though, is because they define the following referer policy:
`Referrer Policy:no-referrer-when-downgrade`

[2017-03-30 16:01] mwallner commented on #1221
@AdmiringWorm you've got
[code]
probably 0.10.4 ? - just thinking how this could be misleading when there really is a 0.14 someday :-)

[2017-03-30 16:04] Zedonboy commented on #1217
@ferventcoder am sorry bro......my apologies i just had relationship issues yesterday, everything is resolved now............... general apologies everyone for the kind of comments i made

[2017-03-30 16:07] Zedonboy commented on #698
@ferventcoder my apologies for the last comments yesterday

[2017-03-30 16:08] AdmiringWorm commented on #1221
@mwallner ops yeah, fixed.
Also forgot it was the 0.10.4 beta1 not the full release.

[2017-03-30 16:20] ferventcoder commented on #1221
@AdmiringWorm Chocolatey detects if there is TLS/SSL available prior to flipping over. So either the detection needs more work - or they have TLS/SSL but are not fully opted in.

[2017-03-30 16:23] AdmiringWorm commented on #1221
For all I know it could be that they haven't fully opted in to TLS/SSL.
All I know is that if you browse to <https://www.nliteos.com/> you get redirected to <http://www.nliteos.com/>.
Same thing with all other pages on that domain.

[2017-03-30 16:30] Zedonboy commented on #698
am trying `choco install python2`  it gives me
[code]

[2017-03-30 17:16] ferventcoder commented on #1218
We probably need a key.

It's the following values:

this.Log().Info(() => "{0}|{1}|{2}|{3}|{4}|{5}|{6}|{7}".format_with(
                        source.Id,
                        source.Value,
                        source.Disabled.to_string(),
                        source.UserName,
                        source.Certificate,
                        source.Priority,
                        so

[2017-03-30 17:16] ferventcoder commented on #1218
This should be documented somewhere though.

[2017-03-30 17:21] ferventcoder commented on #1219
@petemounce just inspected. Not an issue. Please pass `-ChecksumType64` and not the non-existing `-Checksum64Type` as per the documentation. Thanks!

[2017-03-30 17:21] #1219 closed

[2017-03-30 17:22] ferventcoder commented on #1219
https://chocolatey.org/docs/helpers-install-chocolatey-zip-package

[2017-03-30 18:04] ferventcoder commented on #1221
Chocolatey simply makes a determination if TLS/SSL is available. Sounds like they are doing something maybe we need to detect better for. Fair?

[2017-03-30 18:06] AdmiringWorm commented on #1221
yeah, that sounds fair.

[2017-03-30 19:06] ferventcoder opened #1222 "Don't show heading for choco outdated when using machine readable output"

[2017-03-30 19:06] #1222 closed

[2017-03-30 19:06] #1220 closed

[2017-03-30 19:07] ferventcoder commented on #1216
Triaged this a bit, It must be SMB as I had no issues in 0.10.4 with this. Can you verify if this is the same in the new version of choco?

[2017-03-30 20:38] AdmiringWorm opened #1223 "Restoring multiple packages from a package config file creates duplicate progress messages"
### What You Are Seeing?
When restoring multiple packages from a package config file creates duplicate progress messages after the first package have been installed.
I.E:
On the first package, only 1 progress message is displayed,
on the second package, two progress messages is displayed,
on the third package, three progress messages is displayed.
This continues to add one more progress message on

[2017-03-30 21:10] basictheprogram opened #1224 "Chocolatey timed out immediately when execution timeout was infinite (0)"
### What You Are Seeing?
VirtualCloneDrive v5.5.0.20160317 [Approved]
virtualclonedrive package files install completed. Performing other installation steps.
Chocolatey timed out waiting for the command to finish. The timeout
 specified (or the default value) was '0' seconds. Perhaps try a
 higher `--execution-timeout`? See `choco -h` for details.
The install of virtualclonedrive was NOT successfu

[2017-03-30 21:18] basictheprogram commented on #1224
[code]

[2017-03-30 21:37] AdmiringWorm commented on #1224
Regarding the first error message, this looks like choco isn't correctly parsing the number 0 as inifite (as it should be in 0.10.4), smells like a bug to me.

Your second error message is known already though, see #1220.
To fix the second error message you'll either downgrade to v. 0.10.3, or wait for 0.10.5 to be released (should be released quite soon I think)

[2017-03-30 22:07] ferventcoder commented on #1224
Found and fixed

[2017-03-31 00:13] petemounce commented on #1219
Oh, wow, :headdesk:. Sorry!

[2017-03-31 01:14] basictheprogram commented on #1224
[code]
Still have the problem. Same problem with virtualclonedrive, below powershell errors out.

NOTE: I assume this was fixed in 0.10.5?

[code]
Logs
[code]

[2017-03-31 01:18] basictheprogram commented on #1224
[code]

[2017-03-31 02:25] ferventcoder commented on #1224
I ran this through some

[2017-03-31 02:27] ferventcoder commented on #1224
I passed the 0 in on the command line, looks like there is more work to do as it did not accept it. Led me to believe this was fixed in a cursory test of the functionality.

[2017-03-31 02:58] luferogo commented on #1203
Hello again, Just tested the v0.10.5, with the same results (as far i understand):

[code]

It seems is the same error... Do I am missing something?

[2017-03-31 03:04] luferogo commented on #1203
FYI, If I set the policy from AllSigned to ByPass, it works.

[2017-03-31 03:20] ferventcoder commented on #1224
@basictheprogram give this a shot - https://chocolatey.box.com/s/zt84mz4rh9hvgsy4hnk35pohtfoseqn0

Instructions for anyone who needs them:

* Download https://chocolatey.box.com/s/zt84mz4rh9hvgsy4hnk35pohtfoseqn0 to a local location
* Run `choco upgrade chocolatey --pre -y -s c:\folder\where\pkg\is\` (remember folks, if you use nupkg in your install or upgrade command, you are pointing to a file a

[2017-03-31 04:37] ferventcoder commented on #1203
Okay, I'm thinking there is more to this than just line endings. Packing and unpacking the file may have something to do here as well. Or it could be the UTF8 with no BOM.

[2017-03-31 04:48] ferventcoder commented on #1203
Wow...

[2017-03-31 04:49] ferventcoder commented on #1203
So this was fixed for 0.10.4, but then I updated the copyright. Which added the copyright symbol. And these are UTF8 (w/no BOM). So back to broken again.

[2017-03-31 04:51] ferventcoder commented on #1203
If I convert the file to be UTF8 w/BOM, then sign. It works.

[2017-03-31 04:56] ferventcoder opened #1225 "PowerShell sees authenticode hash as changed in scripts that are UTF8 (w/out BOM) that contain unicode characters"
In #1209, we found that PowerShell doesn't handle files with LF line endings well when verifying authenticode to run the file. It thinks something has changed. That was fixed and verified.

However later, #1209 introduced a unicode character to these UTF8 (w/out BOM) PowerShell files. Apparently PowerShell is also not very good at telling the difference between ANSI and UTF8 w/out BOM either, so t

[2017-03-31 04:58] ferventcoder commented on #1203
https://github.com/chocolatey/choco/issues/1225

[2017-03-31 05:25] ferventcoder commented on #1225
And followed up with https://github.com/PowerShell/PowerShell/issues/3466

[2017-03-31 05:28] ferventcoder commented on #1225
@luferogo you are going to be interested in this. I'm hopeful that when this is fixed there will be no more issues with PowerShell.

[2017-03-31 13:20] AdmiringWorm commented on #1040
I can't seem to replicate the issue when debugging through visual studio though.

[2017-03-31 15:09] AlexisColes opened #1226 "Fast method for checking if a version of a package is installed."
Hi there,

Please let me know if I am missing something but i am using the following powershell to check to see if a package is installed or not.

[code]

However "choco list -lo" is taking 2-3 seconds to give me a list of about 5 installed packages.

This is quite a long time if I want to check many packages on many servers and I am not sure why it needs to take so long.  Is it possible to add a

[2017-03-31 15:10] ferventcoder commented on #1226
2-3 seconds? What version of Chocolatey are you on?

[2017-03-31 15:10] ferventcoder commented on #1226
It should be subsecond return speed.

[2017-03-31 15:11] AlexisColes commented on #1226
PS C:\Users\alexis.coles.adm> choco
Chocolatey v0.10.5

PS C:\Users\alexis.coles.adm> measure-command { choco list -lo }

Days              : 0
Hours             : 0
Minutes           : 0
Seconds           : 2
Milliseconds      : 88
Ticks             : 20885527
TotalDays         : 2.41730636574074E-05
TotalHours        : 0.000580153527777778
TotalMinutes      : 0.0348092116666667
TotalSeconds

[2017-03-31 15:12] ferventcoder commented on #1226
Dumb question. How big are those nupkgs?

[2017-03-31 15:13] ferventcoder commented on #1226
You were  a bit quicker than I was posting Measure-Command. 👍

Here are my results with 167 packages installed:

[code]

[2017-03-31 15:15] ferventcoder commented on #1226
And here from a Windows 2012R2 box that has 2GB RAM given to it:

![image](https://cloud.githubusercontent.com/assets/63502/24556718/ed4f8486-15fa-11e7-9256-f0bb13e953bc.png)

Still faster than what you are seeing. Something else may be going on.

[2017-03-31 15:17] ferventcoder commented on #1226
There was a small bit of slow down in a lookup that was added for 0.10.4+ - #942. However, as you can see it is within reason and has no adverse linear effect.

[2017-03-31 15:19] AlexisColes commented on #1226
Ok here are the package sizes

C:\ProgramData\chocolatey\lib\chocolatey: 6.69 mb
C:\ProgramData\chocolatey\lib\consul: 75.39 mb
C:\ProgramData\chocolatey\lib\ConsulAgentService: 0.01 mb
C:\ProgramData\chocolatey\lib\FileBeat: 34.51 mb
C:\ProgramData\chocolatey\lib\NSSM: 1.16 mb

[2017-03-31 15:20] ferventcoder commented on #1226
Nupkg size, not the directory.

[2017-03-31 15:21] ferventcoder commented on #1226
Another consideration, you may want to ensure you have set cacheLocation in the configuration. That helps with a lot of things.

[2017-03-31 15:28] AlexisColes commented on #1226
Sorry my bad,

consul.nupkg: 20.4 mb
ConsulAgentService.nupkg: 5.64KB
FileBeat.nupkg: 7.99 mb
NSSM.nupkg: 4.24 kb

[2017-03-31 15:33] ferventcoder commented on #1226
No worries. While package size does affect this speed, I don't see anything here in general that could cause that manner of slow down. Do you have any AV set up that may be looking at file access?

[2017-03-31 15:35] AlexisColes commented on #1226
Ok so I ran the following

choco config set cacheLocation c:\temp\choco

now getting the following

measure-command { choco list -lo }

Days              : 0
Hours             : 0
Minutes           : 0
Seconds           : 1
Milliseconds      : 701
Ticks             : 17018178

So that has made a difference!!  Thanks

But I would still say that this could be a lot quicker ideally as to run through

[2017-03-31 15:37] AlexisColes commented on #1226
No anti virus, this is running on windows server 2008R2 vm 4 cores 3GB of free memory disk shouldbe doing upward of 400-500iops

[2017-03-31 15:41] AlexisColes commented on #1226
just run on a production box  on a raid array with 200K iops availability and it is a little faster.

Before  set cacheLocation
Seconds           : 0
Milliseconds      : 970

After
Seconds           : 0
Milliseconds      : 987

not sure if that made too much difference after all

[2017-03-31 15:44] ferventcoder commented on #1226
That's cool. We expect perf to be under two seconds. That is what we measure that particular command to. Eventually things could get even faster, but it's still much faster than the old PowerShell version of Chocolatey.

https://twitter.com/ferventcoder/status/824639657409466368

[2017-03-31 16:57] ferventcoder commented on #790
Closing as a duplicate.

[2017-03-31 16:57] #790 closed

[2017-03-31 16:58] ferventcoder commented on #457
A few issues have come out that may have addressed or will address this:

* #1222
* #580
* #994
* #843

I think we can close this.

[2017-03-31 16:58] #457 closed

[2017-03-31 17:03] ferventcoder commented on #1222
@The-Running-Dev wanted me to mention he asked for this feature.

[2017-03-31 17:45] The-Running-Dev commented on #1222
Thanks! it will make my automatic updates easier.

[2017-03-31 17:51] miau commented on #1004
I had the same problem and looked into it.

`choco search git` calls the URLs below and the second URL contains the entry of `git` package.

[code]

`choco info git` calls the URL below and there is no result.

[code]

Meanwhile, `choco info git.install` calls the URL below and it contians the expected result.

[code]

It seems that there is an issue on chocolatey.org, but I think it will be bette

[2017-03-31 18:10] AdmiringWorm commented on #1226
just wanted to say that I have similiar results as @AlexisColes's  first test.
[code]

[2017-03-31 18:40] AdmiringWorm commented on #1221
for reference, here is the source for the nlite package I found this issue for:
https://github.com/chocolatey/chocolatey-coreteampackages/tree/nlite/automatic/nlite

[2017-04-01 04:21] ferventcoder commented on #1226
@AdmiringWorm how many packages for you?

[2017-04-01 04:39] AdmiringWorm commented on #1226
90 packages

[2017-04-01 04:56] AdmiringWorm commented on #1226
just to check I measured the time for a few other commands as well:
[code]

[2017-04-01 17:23] ferventcoder commented on #1004
That actually helps determine what the issue may be. I wonder why it doesn't attempt to collect the rest of the results though.

[2017-04-01 19:25] miau opened #1227 "RefreshEnv.cmd doesn't set the correct PATH"
RefreshEnv.cmd sets the PATH environment variable with a trailing space. Then a new application that adds user PATH can't be launched.
[code]

It seems that there is an unnecessary space before `>>` despite a caution.

https://github.com/chocolatey/choco/blob/40918fb3d0f3a46f82c1eccbeb8b764a04ac5b7a/src/chocolatey.resources/redirects/RefreshEnv.cmd#L46

[2017-04-01 19:31] ferventcoder commented on #1227
Thanks for noting this. Will look to fix for 0.10.6

[2017-04-01 19:35] #1225 closed

[2017-04-02 02:00] kewalaka opened #1228 "feature request: test for presence of 7za.exe prior to download"
Would it be possible to add a 'Test-Path' statement to see if 7za.exe already exists in the temp folder, and if so skip the download?

This is helpful in scenarios where there is no internet, but we can use something like chef/DSC to ensure the file is present prior to chocolatey being installed.

At present I work around this by using windows compression, using a chunk of DSC like this:

[2017-04-02 03:45] ferventcoder commented on #1228
Chocolatey doesn't work on Nano yet. Targeting second half of 2017.

[2017-04-02 03:52] ferventcoder commented on #1228
Puppet already supports full no internet scenarios. If Chef and DSC don't support this yet, they need to add that on their own. Also the bootstrapper you are referring to that uses 7za is not in this codebase, it's in https://github.com/chocolatey/chocolatey.org. It also already has built-in to it what you are asking - see https://chocolatey.org/install.ps1

[2017-04-02 03:57] ferventcoder commented on #1228
Ah - I see you already noticed setting that environment variable.

[2017-04-02 03:59] ferventcoder commented on #1228
Please file an issue at https://github.com/chocolatey/chocolatey.org about 7za.

[2017-04-02 04:09] ferventcoder commented on #1228
I do feel strongly that the infrastructure mgmt tools should have a switch - as I mentioned the Puppet provider already has this.

Either way, with 7za check or setting the env var, I feel it is a workaround versus ensuring the infra mgmt tools ensure complete offline support. I did think the Chef cookbook had this in it already.

[2017-04-02 04:10] ferventcoder commented on #1228
Closing here as this is needs to get logged over in the website repo.

[2017-04-02 04:10] #1228 closed

[2017-04-03 00:57] bcurran3 opened #1229 "FEATURE REQUEST: User accounts on chocolatey.org with default programs"
Chocolatey is great. Everyone who uses it would agree.
Chocolatey is for power users and not really amateur friendly. (I don't have access to the demographics but I'm sure all would agree.)

WHAT IF The chocolatey.org website had end user accounts where the end users could  add to their profile a list of default programs that would install automatically when Chocolatey is installed? IMAGINE what t

[2017-04-03 01:06] DarwinJS opened #1230 "For MSUs - always keep a log and if the update fails, pull the errors out of the WUSA log and display on screen / in chocolatey log"
WUSA has a bad habit of exiting with the same exit code (-2146762496) no matter that there is a more detailed error code and description in the log file (if you asked for one).

Since it is a long road to manually re-run on just problem machines (frequently Windows updates problems affect a subst of machines) - on the PowerShell 5 package I have been using $SilentArgs to get wusa.exe to generate a

[2017-04-03 04:31] flcdrg opened #1231 "[API] Chocolatey file cache still adds a 'chocolatey' directory on each install"
Still seeing the problem described in #1211 in Boxstarter 2.9.5, which presumably was built with Chocolatey 0.10.4+.

Guessing if it could be because CacheLocation has as trailing slash?

[2017-04-03 22:56] ferventcoder commented on #1230
@DarwinJS Those links must be private. They fail for me.

[2017-04-03 23:42] DarwinJS commented on #1230
Here are the lines
[code]

[2017-04-04 05:28] ferventcoder commented on #771
This may be fixed.

[2017-04-04 05:33] ferventcoder commented on #351
Going to close this for #843 - the title is more helpful and there is more discussion over there.

[2017-04-04 05:33] #351 closed

[2017-04-04 05:34] ferventcoder commented on #843
#351 was this same issue.

[2017-04-04 13:15] OlafHaag opened #1234 "Inconsistent docs for the parameter "-WorkingDirectory" in Install-ChocolateyShortcut"
### What You Are Seeing?
Inconsistent use for the parameter "-WorkingDirectory" in _Install-ChocolateyShortcut_ helper function documentation. In Example 2 it's "-WorkDirectory", in the chocolateyInstall.ps1 that comes with choco new <packagename> it's "-workDirectory".

### What is Expected?
That it's always called "-WorkingDirectory" in order to not confuse me and make errors.
### How Did You Ge

[2017-04-04 15:34] wickles opened #1235 "Cannot upgrade chocolatey due to antivirus false positive"
### What You Are Seeing?

Cannot upgrade `chocolatey` from v0.10.3 due to antivirus block. Avira identifies new `choco.exe` as trojan `TR/AD.PSLoader.xjubs`.

### What is Expected?

Chocolatey should not trigger a (presumably) false positive.

Obviously I can just disable my AV while upgrading chocolatey, but I have not run into this issue before so I figure it is worth logging. (And I suppose the

[2017-04-04 16:48] dafuki opened #1236 "Can't install chocolatey on Windows 10 Creators Update with Avira"
Avira detects choco.exe as TR/AD.PSLoader.xjubs and the set up fails.
Sorry didn't see that it was already opened an hour ago here https://github.com/chocolatey/choco/issues/1235

P.S,
Even after disabling the AV it didn't install, probably issues with the creator update (has many bugs). I'll try to update with the details later.

[2017-04-04 17:00] ferventcoder commented on #1236
Closing as a duplicate. Will continue conversation at #1235

[2017-04-04 17:00] #1236 closed

[2017-04-04 17:08] ferventcoder commented on #1235
How do you propose that we do this? We unfortunately have no control of AV scanners and their heuristics.

See https://weblog.west-wind.com/posts/2017/Apr/02/Virus-Scanning-Madness-for-Software-Distribution for a pretty comprehensive post on the subject of Virus Scanners (thanks @rickstrahl!).

We've added features, but nothing in general has been added to trigger a false positive. Heuristics in V

[2017-04-04 17:10] ferventcoder commented on #1235
FYI on "we run everything through VirusTotal" - the community package repository has package scanner, which runs packages through VirusTotal to ensure safety. Here's an example:

https://chocolatey.org/packages/chocolatey#virus

![image](https://cloud.githubusercontent.com/assets/63502/24669318/8b0140a2-192f-11e7-823d-121df7caa725.png)

[2017-04-04 17:18] wickles commented on #1235
I do not have a proposal, that is just the expected result, is all.

Thank you for reminding me of the virus scan results on the package page, I had forgotten about that. Good to know that it is just Avira. Perhaps I can file an issue with them somewhere.

[2017-04-04 19:19] nvivo opened #1237 "Add command to list packages only by name"
This is related to a question on [stackoverflow](http://stackoverflow.com/questions/43167087/how-to-get-a-list-of-packages-from-one-machine-and-install-in-another-with-choco), there should be a simple way to list the packages without package versions.

Analogous to a `dir /b`, there should be a `clist -b` or something that simply lists package names, one per line without versions. This makes thing

[2017-04-04 19:21] ferventcoder commented on #1237
Sounds good. I'd assume it won't be `-b`, but maybe something like `--by-name-only`

[2017-04-04 19:24] ferventcoder commented on #1237
Note that I've opened this for "Up For Grabs" (open for contributions). As there are currently ways to do this, it's also been marked as low priority. However the functionality would be pretty simple to add.

[2017-04-05 01:34] #1227 closed

[2017-04-05 03:34] ferventcoder commented on #1234
Documentation bug. Up for grabs.

[2017-04-05 04:21] wickles commented on #1235
It works now, please close. :)

[2017-04-05 08:16] MrMette commented on #1235
Don't be too sure of that. For me Avira removed a lot of files from chocolatey multiple times now. I have set the folders in the exceptions list and it keeps deleting them apparently. So chocolatey is always screwed. If I keep real-time protection on, it keeps deleting them when I put them back from quarantine and after a reboot the real-time protection is on again, so it starts deleting the files

[2017-04-05 12:39] lukemgriffith opened #1238 "log who installed packages (support)"
- Track what user has installed a self-service package  (Or if a package was installed via self-service)  (This would be great for metrics)

[2017-04-05 14:24] ferventcoder opened #1239 "Report process id in the log files"

[2017-04-05 14:24] #1239 closed

[2017-04-05 16:34] steve-hawkins opened #1240 "choco install package name is case sensitive when specific version is supplied"
### What You Are Seeing?

running choco search command with incorrect case for the package name finds the specific version of a package (example below GitVersion from [chocolatey.org](https://chocolatey.org/packages/))
[code]

choco install with incorrect case package name fails to find the specific version of a package
[code]

If I don't specify a specific version then choco install will successf

[2017-04-05 16:36] ferventcoder commented on #1240
@steve-hawkins can you add `--trace -dv` to your call and provide all of that output in a gist? Thanks!

[2017-04-05 17:32] ferventcoder opened #1241 "Chocolatey config changes in 0.10.4+ - The process cannot access the file because it is being used by another process"
The fixes completed for #1047 are now causing the following error when using Puppet's Chocolatey provider to set configuration:

`The process cannot access the file because it is being used by another process`

This is likely due to the Puppet provider holding a lock on the original file. The original method renamed that file and wrote a new file in it's place, which allowed issues with something

[2017-04-05 17:42] bc3tech commented on #843
just for completeness sake i'll chime in that this is still happening in v0.10.5

[2017-04-05 17:47] ferventcoder commented on #1241
If you run into this error, please provide the output of the following:

`cacls C:\ProgramData\chocolatey\config\chocolatey.config`

[2017-04-05 18:00] tek0011 commented on #1241
On first run, and first failure it looks like this.
![image](https://cloud.githubusercontent.com/assets/1085020/24719532/b99b4b26-19ff-11e7-8a4a-86db636fe68d.png)

On second run, same failure, same red wall of text, but this time it says it can find the files:
![image](https://cloud.githubusercontent.com/assets/1085020/24719567/cf301a98-19ff-11e7-94c8-a948abe4f701.png)

Second run:

[code]

[2017-04-05 18:03] tek0011 commented on #1241
[config.zip](https://github.com/chocolatey/choco/files/900349/config.zip)

configs at the time of issue, if helps

[2017-04-05 18:04] ferventcoder commented on #1241
Thanks! This will help

[2017-04-06 04:27] dennyhalim opened #1242 "avira detect some trojan in choco.exe"
after happily using choco for few weeks, suddenly today avira remove almost everything in c:\programdata\chocolatey including everything in bin folder

then the folder is set as write protected and cannot reinstall choco, cant even mkdir inside c:\programdata\chocolatey

[2017-04-06 04:36] ferventcoder commented on #1242
Duplicate of #1235. You should contact Avira. It's a false positive.

[2017-04-06 04:36] #1242 closed

[2017-04-06 04:37] ferventcoder commented on #1242
In #1235 I linked, it has more details. Please read and comment there. HTH

[2017-04-06 07:56] steve-hawkins commented on #1240
@ferventcoder updated GIST link in issue above to include --trace

If it helps it looks like any packages which have their title in all lowercase can be searched / installed with specific versions:-

[https://chocolatey.org/api/v2/Packages(Id='GiT',Version='2.6.0')](https://chocolatey.org/api/v2/Packages(Id='GiT',Version='2.6.0'))

[2017-04-07 17:01] ferventcoder opened #1243 "Update ShimGen to 0.8.x to address some issues"
ShimGen needs to use app.manifest to work better with UAC and the shims that are created do as well. It also needs a few additional settings added to optimize the generated files a bit better.

[2017-04-07 21:21] #1243 closed

[2017-04-08 08:55] PatrickKalkman opened #1244 "PowerShell (Start-ChocolateyProcessAsAdmin) shows error while no error exist"
### What are you seeing

Start-ChocolateyProcessAsAdmin shows an error that starts with (<Objs Version="1.1.0.1"..... ) while the command executed as expected.

### What is Expected?

Start-ChocolateyProcessAsAdmin should execute normally without showing an error message. It may be related to issue #1016, but I was not sure.

### How Did You Get This To Happen? (Steps to Reproduce)

Used Install-C

[2017-04-09 17:03] ferventcoder commented on #843
It happens when it doesn't find a package - that's when you see version old and new the same. We should add a switch here.

[2017-04-09 21:43] coldacid commented on #1201
A further potential issue for 2017 is that quiet installs may fail with a 3001 exit code unless version and SKU flags are set on the command line for VSIXInstaller.exe; see https://developercommunity.visualstudio.com/content/problem/26008/vs-2017-rtm-vsixinstaller-cannot-find-setup-engine.html for details. It looks like the SKU value is always going to be the last part of the `installationPath` pr

[2017-04-10 06:07] heaths commented on #1201
You should not use the VSIXInstaller.exe in the old location. Use it from the `enginePath` returned from _vswhere.exe_.

[2017-04-10 12:25] coldacid commented on #1201
@heaths That will likely still require `/s` and `/v` parameters in a side-by-side scenario, which is the issue I brought up.

[2017-04-10 17:30] heaths commented on #1201
It shouldn't, as that is the copy that gets used to install _.vsix_ files when VS2017 is installed and those parameters are not passed in a simple double-click-to-install scenario. But I can refer this thread to the Extensibility team for comment.

[2017-04-10 18:19] teknowledgist opened #1245 "Request: Have auto uninstall compare names with spaces removed"
### What You Are Seeing?
Automatic uninstall won't work for some packages if the application display name has spaces but the package name is made by concatenating the words.

### What would be nice to see:
The Get-UninstallRegistryKey would remove spaces from the `Display Name` as pulled from the uninstall registry keys as well as removing spaces from the provided `SoftwareName` (i.e. the `Package

[2017-04-10 18:20] coldacid commented on #1201
Please do.

[2017-04-10 20:55] wade0016 commented on #1201
Unfortunately, the /s and /v will not work when using the VS2017 vsixinstaller to install to VS2015 and older. Right now, the only work-around is to use the VS2015 vsixinstaller to go downlevel. To install to VS2017, you can specify the /instanceIds parameter to apply to all of the relevant VS2017 instances.

[2017-04-10 21:04] ddjbollman opened #1246 "chocolatey Install failing"
Vagrant 1.9.2
Chef Development Kit Version: 1.2.22
chef-client version: 12.18.31
kitchen version: 1.15.0
PowerShell 5.1.14393.953 (Microsoft Windows NT 10.0.14393.0)

TEMPLATE FOR BUG REPORTS:
-->

### What You Are Seeing?
       Converging 14 resources
       Recipe: chocolatey::default
         * cookbook_file[C:\Users\ADMINI~1\AppData\Local\Temp\kitchen\cache/chocolatey-install.ps1] action crea

[2017-04-10 22:40] ddjbollman commented on #1246
Update
Added require_chef_omnibus: "12"
into .kitchen.yml

Kitchen is converging as expected now.

[2017-04-11 02:34] coldacid commented on #1201
Fortunately the current `Install-ChocolateyVsixPackage` function inside Chocolatey calls the VSIXInstaller for the requested Visual Studio version for 2015 and older. However, the function it uses to do that, `Install-Vsix`, only takes a path to the appropriate VSIXInstaller an the path to the package being installed. What it seems like to me is that to solve this issue, we need:

- [ ] determine

[2017-04-11 16:02] sxmanton opened #1247 "chocolatey.lib nuget package has incorrect documentation xml"
### What You Are Seeing?
In chocolatey.lib.0.10.5 nuget package (published 3/30/2017):

The documentation xml that was downloaded with the nuget package appears to contain xml documentation for the dependencies and not the chocolatey library itself. It's around 3MB (compared to 172KB when I build the xml from source) and chock full of documentation for the Alphaleonis.Win32.Filesystem namespace as

[2017-04-12 15:09] #1224 closed

[2017-04-12 15:15] ferventcoder opened #1248 "Multiple authenticated sources with same base url fail when authentication is different"
### What You Are Seeing?

Add two authenticated sources with the same base url

eg: https://internal.location/repo1 / https://internal.location/repo2

### What is Expected?

That you can query and receive packages from each of those sources.

### How Did You Get This To Happen? (Steps to Reproduce)

It only returns packages from the first source.

[2017-04-12 23:54] coldacid commented on #1201
vswhere is [MIT licensed](https://github.com/Microsoft/vswhere/blob/develop/LICENSE.txt), so that shouldn't be a blocker to adding it as a dependency to Chocolatey itself.

[2017-04-13 11:51] FireEater64 commented on #824
Does this not conflict with #653?

[2017-04-14 02:08] sd4705 commented on #1241
Our site is affected by this problem. Thanks for working on this.

You can downgrade chocolatey with this command:
choco upgrade chocolatey --version 0.10.3 --force -y

Close the powershell window and then run puppet again:
puppet agent -t

[2017-04-14 02:13] RichiCoder1 commented on #1241
This is very odd. File locks were something I was trying hard to avoid :|

[2017-04-14 02:46] ferventcoder commented on #1241
This change also affects DSC:

[2017-04-15 12:54] marcinbojko opened #1251 "Cpack and choco pack don't ignore .git folders anymore"
### What You Are Seeing?
When using cpack or choc pack, when .git (and probably other .folders) are present, chocolatey 0.10.5 doesn't ignore them.
Don't know it's by default, hidden switches or if that is somwhwre in doc (coudn't find it).
### What is Expected?
Ignore hidden folders (.) when creating packages
### How Did You Get This To Happen? (Steps to Reproduce)
cpack
choco pack
### Output Log

[2017-04-15 13:05] majkinetor opened #1252 "Machine readable output format for commands"
It would be great for choco to return something other then text for any output. JSON would totally do as it can quickly be loaded with `Convert-FromJson`. This would help with automatic choco installation and configuration.

For example:

[code]

[2017-04-15 13:13] majkinetor opened #1253 "Choco info should provide summary"
Choco info should have this so we can quickly show only summery of files available on the system. First line of description is rarely equal to summary line.

[code]
Currently, the one has to resort to something like this which is not the same:

[code]

[2017-04-15 13:15] majkinetor commented on #1004
This is serious issue IMO and deserves more attention.

Even chocolatey itself can't be found:

[code]

[2017-04-15 13:18] majkinetor commented on #1004
In the meantime, here is the --trace for git:
[code]

[2017-04-15 13:29] majkinetor commented on #1004
Invoking it via `irm` returns nothing:

[code]

However, when I remove `orderById` parameter:

[code]

Works with chocolatey package too:

[code]

[2017-04-15 13:35] majkinetor commented on #1004
It looks like this issue is also behind the problem that I faced constantly that `choco install` wont find an existing package unless `--version` is specified.

This works for both git and chocolatey packages.

[code]

[2017-04-15 13:36] majkinetor commented on #846
Most definitely related to #1004

[2017-04-15 19:35] torhovland commented on #1237
I've submitted a PR for this: https://github.com/chocolatey/choco/pull/1254

[2017-04-17 03:47] ferventcoder commented on #1251
Howdy - this is not a new change. This has been in effect since 0.9.9.0. If you need to hide folders, use files section in nuspec. You can see what that looks like with `choco new test`

[2017-04-17 06:17] marcinbojko commented on #1251
True, as usuall. Sorry @ferventcoder :(

[2017-04-17 06:17] #1251 closed

[2017-04-17 19:16] tiagolo commented on #1246
I have the same issue here, running chef on my local machine.

Chef Development Kit Version: 1.3.40
chef-client version: 13.0.118
berks version: 5.6.4
kitchen version: 1.16.0

I'm running it with
[code]

[2017-04-17 21:22] ferventcoder commented on #1246
Running this for internal organizational usage? I'm assuming you are using your own internally hosted Chocolatey nupkg and something is wrong with the install script it is running?

[2017-04-17 21:24] ferventcoder commented on #1246
Actually, I saw this on the community chat the other day - there may be fixes at https://github.com/chocolatey/chocolatey-cookbook/pull/116

[2017-04-17 21:26] ferventcoder commented on #1246
This looks more like an issue with the chef cookbook though. Correct me if I am wrong here - that repo is over at https://github.com/chocolatey/chocolatey-cookbook. I think you want to file this over there. HTH

[2017-04-17 21:26] #1246 closed

[2017-04-18 02:30] cjahv opened #1255 "can show the download progress?"
![image](https://cloud.githubusercontent.com/assets/15372793/25112155/ee05403e-2421-11e7-8efa-8b065a46e3cc.png)
I waited for a year!

[2017-04-18 13:48] timbrown5 commented on #508
Just wondered if there is any update on when this might be fixed?

[2017-04-18 16:25] ferventcoder commented on #508
Looking at late 2017 depending on where it falls in prioritization. Right now it is a few back on the list. We have a pretty aggressive schedule so it could be done in 2017 but it may fall back to 2018.

[2017-04-18 17:01] rismoney opened #1256 "Get-WebHeaders helper ContentLength bug"
Get-WebHeaders reports back a borked ContentLength in some cases...(perhaps small files?)

I am not seeing this consistently, but have seen it appear on small files (~100bytes).
In the case of using the AutomaticDecompression property, ContentLength returns a -1 in the header.

https://github.com/chocolatey/choco/blob/master/src/chocolatey.resources/helpers/functions/Get-WebHeaders.ps1#L119

I can

[2017-04-18 20:36] milia1990 commented on #991
Hi!
I'll try install choco, bun somthing is wrong =(
_________________________________
logout there

![error](https://cloud.githubusercontent.com/assets/5048478/25151856/c870affc-248f-11e7-9e1f-ca1547b77f3b.PNG)

[2017-04-18 23:18] ferventcoder commented on #991
@milia1990 Looks good to me.

[2017-04-18 23:30] ferventcoder commented on #1255
That's a package issue - Chocolatey shows download progress if the package uses Chocolatey's built-in methods. You can see that in other packages and here https://github.com/chocolatey/choco#see-chocolatey-in-action

[2017-04-18 23:30] #1255 closed

[2017-04-18 23:33] ferventcoder commented on #1255
And it's been back for over a year now. See https://github.com/chocolatey/choco/issues/56

[2017-04-18 23:44] ferventcoder commented on #1004
The order by id is definitely something we should look to remove from the call.

[2017-04-19 13:28] KZeronimo commented on #1201
A PowerShell native option to test for VS 2017 in addition to vswhere is [VSSetup](https://github.com/Microsoft/vssetup.powershell)
[code]
Available in the PSGallery

[2017-04-19 14:14] mwallner commented on #1047
Please reopen, still an Issue in 0.10.5

here's a sample of `chocolatey.config` after two processes accessed it simultaneously:
[code]

1 good thing though: now there's a `.config.backup` and `config.update` file as well - still containing the correct configuration.

[2017-04-19 14:41] tek0011 commented on #1047
Isnt it re-referenced here?

https://github.com/chocolatey/choco/issues/1241

[2017-04-19 15:15] ferventcoder commented on #1047
The fixes that went into for this are supposed to look at the file after it saves it and determine if it is good - if not it should roll back old config.

[2017-04-19 15:36] ferventcoder commented on #1047
Let's open a new issue and reference this one.

[2017-04-19 16:31] ferventcoder commented on #1201
I'm good with whatever works best! It looks like we need to handle vs2017 possibly differently, and it would be nice to know when we are looking at VS2017 vs older VS installations in a way that is very convention-based if possible, with a fall back to explicitly specified when not.

[2017-04-19 16:32] ferventcoder commented on #1201
Marking this up for grabs.

[2017-04-19 16:33] ferventcoder commented on #1253
Please create another issue against the Chocolatey gallery. It should also link to that maintainers are not also included in the information that comes out either.

[2017-04-19 16:34] ferventcoder commented on #1252
This might be a duplicate as it may already have another coinciding issue.

[2017-04-19 16:37] ferventcoder commented on #1252
Actually seeing output as JSON format I think was once proposed but would require quite a bit of rework to allow. However it may not be a bad idea to look at it for some commands.

How easily can command output (text) pipe to PowerShell's Convert-FromJson? Since the output on the left doesn't come out as a PowerShell object (and it can't being a command that is run, not a PowerShell script), is wh

[2017-04-19 16:39] majkinetor commented on #1252
Yes it is possible.

[2017-04-19 16:42] ferventcoder commented on #1252
That's pretty cool then. :D

[2017-04-19 16:43] ferventcoder commented on #1252
I've marked this up for grabs.

[2017-04-19 16:54] ferventcoder commented on #1247
Thanks for noting this. Fixing for 0.10.6.

[2017-04-19 16:54] #1247 closed

[2017-04-19 17:30] majkinetor commented on #1252
Its also usable with `jq` (cinst jq):

 `gsv | convertto-json | jq .[].Name`

[2017-04-19 20:12] heaths commented on #1201
@coldacid how is being MIT licensed a blocker? Visual Studio itself - a mostly closed-source product - installs a number of OSS products under different licenses. You may need something like a _ThirdPartyNotices.txt_ (names may vary, but I see this commonly).

We will also be included _vswhere_ with the install starting with Visual Studio 2017 version 15.2 but that will only work for _vswhere_ and

[2017-04-19 20:21] jberezanski opened #1257 "Packages should be able to opt-out of AutoUninstaller"
Add a `.skipAutoUninstall` and Chocolatey v0.10.8+ will automatically opt out of calling the Auto Uninstaller.

### Original Issue

Currently, the AutoUninstaller always runs, regardless of whether the package contains `chocolateyUninstall.ps1` or not. For many packages this is harmless. There are some packages, however, where the AutoUninstaller may break other applications. This will happen if a

[2017-04-19 20:48] jberezanski commented on #1201
I'd like to tackle this, but I would also like to use this opportunity to move this helper out of core Chocolatey and into the [`chocolatey-visualstudio.extension`](https://chocolatey.org/packages/chocolatey-visualstudio.extension), which already contains a lot of code dealing with VS installation and addition/removal of VS 2017 workloads. That way future development of the helper would be decoupl

[2017-04-19 21:47] heaths commented on #1201
@jberezanski _vswhere_ works great with PowerShell:
[code]
At that point, you've got a subset - but the core information - of what `Get-VSSetupInstance` provides.

[2017-04-19 21:52] AdmiringWorm commented on #1201
@heaths although that works, it would be a no-go with choco packages as `ConvertFrom-Json` was added in PSv2.

[2017-04-20 01:05] heaths commented on #1201
It's hard remembering what was added when. I've been using it since it was "Monad". ;)

You can also do:
[code]

[2017-04-20 02:10] coldacid commented on #1201
@heaths Licensing can be touchy, and while I've been making packages for some time, working on Chocolatey itself I've not done aside from some commentary on issues and in Gitter. Pardon me if I'm overcautious. As for `[xml]` I wish I had known of that before! Despite using `ConvertFrom-Json` in the Sandcastle package, as @AdmiringWorm points out that's not something that can be done in Chocolatey

[2017-04-20 07:16] mwallner opened #1258 "chocolatey.config gets corrupted when multiple processes access simultaneously"
### What You Are Seeing?
Broken chocolatey.config after two processes use choco.exe at the same time. (sometimes)
[code]

### What is Expected?
config shouldn't be corrupted

### How Did You Get This To Happen? (Steps to Reproduce)
Two processes -> both use choco.exe at the very same time (`choco list` is sufficient)

This Issue is a follow-up of GH-1047

[2017-04-20 12:17] ferventcoder commented on #1257
That may break existing workflows that use the uninstall script to do other things (like remove/cleanup files) and rely on autouninstaller to remove the application. So option 1 is out.

This is likely the only way to handle this.

[2017-04-20 12:19] ferventcoder commented on #1257
Given there has been discussion on this before, I'm a bit surprised this doesn't already exist as an issue.

[2017-04-20 15:43] KZeronimo commented on #1201
Seems like there is a clear path for discovering VS 2017 compatible with PSv2 vi vswhere ala @heaths

@ferventcoder any opinion on moving this into @jberezanski choco package and out of core choco

[2017-04-20 20:46] jberezanski commented on #1201
@heaths `vswhere -format xml` works, yes. However, it does not provide all the information I need in other scenarios (the list of installed packages), so I've been looking for alternatives.

I haven't been able to use the interop library directly from PowerShell (couldn't find a way to cast the SetupConfigurationClass to the SetupConfiguration interface), but I've managed to build a working protot

[2017-04-20 20:59] heaths commented on #1201
@jberezanski may I ask why you need the list? We only document a small number of packages available. Others - like with reflecting private members of managed code - may change (many have already, since refactoring of packages is supported for agility).

With _vswhere_ you can pass `-requires Name1[ Name2[ ...NameN]]` to find an instance that actually has required components or workloads (technical

[2017-04-21 02:42] stibinator opened #1259 "Stop saying "0 packages failed.""
When an install is successful it would be better if the report didn't say "0 packages failed" If you're spooling through the terminal history looking for failures this unnecessarily catches your eye.

"0 packages failed does not add any new information to the "choloatey installed 3/3 packages" message that precedes it.

It would be better if it only mentioned failure when the number of packages th

[2017-04-21 08:10] johnypony3 commented on #1040
i just ran into this issue with v0.10.5 (latest currently)
my nuspec excerpt:

the error on uninstall:

[2017-04-21 11:38] jberezanski commented on #1201
@heaths I'm only looking at the [documented packages](https://docs.microsoft.com/en-us/visualstudio/install/workload-and-component-ids). In particular, when installing workloads, I look for all instances which _do not_ have that workload installed. I suppose I could call vswhere twice, first for all instances, then with -requires, and subtract the sets, but that feels less elegant than ...

Thanks

[2017-04-21 20:53] heaths commented on #1201
But to what end? Installing a VSIX v3 with dependencies will install those dependencies automatically. I can see a case where you don't want _VSIXInstaller_ to install workloads automatically (something I've been working to solve for https://github.com/wixtoolset since I've been maintaining the _VSExtension_ for several years (and helped write quite a bit of WiX when it was internal), but then you

[2017-04-21 21:24] dragon788 opened #1260 "Choco outdated -r doesn't fully/properly limit the output to only data"
### What You Are Seeing?
`choco outdated -r`
Outdated Packages
 Output is package name | current version | available version | pinned?

7zip|16.04|16.4.0.20170420|false
7zip.install|16.04|16.4.0.20170420|false
Boxstarter|2.8.29|2.9.5|false
Boxstarter.Bootstrapper|2.8.29|2.9.5|false
Boxstarter.Chocolatey|2.8.29|2.9.5|false
Boxstarter.HyperV|2.8.29|2.9.5|false
Boxstarter.WinConfig|2.8.29|2.9.5|false

[2017-04-22 00:46] ferventcoder commented on #1260
Are you seeing this on 0.10.5?

[2017-04-22 00:47] ferventcoder commented on #1260
Related to #457

[2017-04-22 00:49] ferventcoder commented on #1260
Duplicate of https://github.com/chocolatey/choco/issues/1222. Please upgrade

[2017-04-22 00:49] #1260 closed

[2017-04-22 05:09] AeliusSaionji opened #1261 "[Request] Front-load all user input for `cup all`"
In summary:

`cup all` currently iterates through each package, where it

1. Check package for updates. If found,
2. Asks for user confirmation (yes/no/print). If yes,
3. installs the package

Rinse and repeat for each package on the system.

I propose that step 3 is NOT run until steps 1-2 have been completed for all packages. That is to say,

1. Check package for updates. If found,
2. Asks for u

[2017-04-22 05:14] Link-Satonaka commented on #1261
Even in the absence of `-whatif`, once all packages are processed and before installations begin; I think it would be a good idea to ask the user to confirm. `you accepted these packages <> and denied these packages <>, proceed? y/n`

[2017-04-22 05:23] Link-Satonaka commented on #218
I think we need to hammer out exactly how this is going to work, and how it relates to `-whatif` and `-y`, and how it might behave assuming https://github.com/chocolatey/choco/issues/1261 is implemented.

It sounds like, at the end of the day, this suggestion is an enhancement for `-whatif`. Change the functionality of `-whatif` to ask the user if they want to go ahead and install the updatable pa

[2017-04-23 20:41] bcurran3 opened #1262 "FEATURE REQUEST: open maintainership for "abandoned" packages"
IF

AND package number of versions submitted =1 #i.e. most likely abandoned or put on the back burner

BEGIN
Remove maintainer and make the package ID available for a new maintainer without having to request via admin.
END

[2017-04-23 20:43] bcurran3 commented on #1229
There is a Chocolatey software agent on the road map right?

[2017-04-23 20:54] bcurran3 commented on #1061
Wording appears to be wrong in Licensed edit 1.9.8:

Choose Skip will skip uploading the file but will continue the install.

Last sentence should be changed to:
Selecting 'Skip' will continue without **uploading** binaries (not recommended).

[2017-04-24 19:39] jberezanski commented on #1201
Sorry, I wandered off the topic of installing VSIX packages a bit. I started thinking about the other usage scenarios supported by chocolatey-visualstudio.extension, in this case installation of VS 2017 workloads (there is a Chocolatey package for each workload).

Not only that, but PowerShell seems to ignore interfaces and always operates on the real underlying types. I created a `DynamicMethod`